//color

.aliceblue {
  color: $aliceblue;
}

.antiquewhite {
  color: $antiquewhite;
}

.aqua {
  color: $aqua;
}

.aquamarine {
  color: $aquamarine;
}

.azure {
  color: $azure;
}

.beige {
  color: $beige;
}

.bisque {
  color: $bisque;
}

.black {
  color: $black;
}

.blanchedalmond {
  color: $blanchedalmond;
}

.blue {
  color: $blue;
}

.blueviolet {
  color: $blueviolet;
}

.brown {
  color: $brown;
}

.burlywood {
  color: $burlywood;
}

.cadetblue {
  color: $cadetblue;
}

.chartreuse {
  color: $chartreuse;
}

.chocolate {
  color: $chocolate;
}

.coral {
  color: $coral;
}

.cornflowerblue {
  color: $cornflowerblue;
}

.cornsilk {
  color: $cornsilk;
}

.crimson {
  color: $crimson;
}

.cyan {
  color: $cyan;
}

.darkblue {
  color: $darkblue;
}

.darkcyan {
  color: $darkcyan;
}

.darkgoldenrod {
  color: $darkgoldenrod;
}

.darkgray {
  color: $darkgray;
}

.darkgrey {
  color: $darkgrey;
}

.darkgreen {
  color: $darkgreen;
}

.darkkhaki {
  color: $darkkhaki;
}

.darkmagenta {
  color: $darkmagenta;
}

.darkolivegreen {
  color: $darkolivegreen;
}

.darkorange {
  color: $darkorange;
}

.darkorchid {
  color: $darkorchid;
}

.darkred {
  color: $darkred;
}

.darksalmon {
  color: $darksalmon;
}

.darkseagreen {
  color: $darkseagreen;
}

.darkslateblue {
  color: $darkslateblue;
}

.darkslategray {
  color: darkslategray;
}

.darkslategrey {
  color: darkslategrey;
}

.darkturquoise {
  color: $darkturquoise;
}

.darkviolet {
  color: $darkviolet;
}

.deeppink {
  color: $deeppink;
}

.deepskyblue {
  color: $deepskyblue;
}

.dimgray {
  color: $dimgray;
}

.dimgrey {
  color: $dimgrey;
}

.dodgerblue {
  color: $dodgerblue;
}

.firebrick {
  color: $firebrick;
}

.floralwhite {
  color: $floralwhite;
}

.forestgreen {
  color: $forestgreen;
}

.fuchsia {
  color: $fuchsia;
}

.gainsboro {
  color: $gainsboro;
}

.ghostwhite {
  color: $ghostwhite;
}

.gold {
  color: $gold;
}

.goldenrod {
  color: $goldenrod;
}

.gray {
  color: gray;
}

.grey {
  color: $grey;
}

.green {
  color: $green;
}

.greenyellow {
  color: $greenyellow;
}

.honeydew {
  color: $honeydew;
}

.hotpink {
  color: $hotpink;
}

.indianred {
  color: $indianred;
}

.indigo {
  color: $indigo;
}

.ivory {
  color: $ivory;
}

.khaki {
  color: $khaki;
}

.lavender {
  color: $lavender;
}

.lavenderblush {
  color: $lavenderblush;
}

.lawngreen {
  color: $lawngreen;
}

.lemonchiffon {
  color: $lemonchiffon;
}

.lightblue {
  color: $lightblue;
}

.lightcoral {
  color: $lightcoral;
}

.lightcyan {
  color: $lightcyan;
}

.lightgoldenrodyellow {
  color: $lightgoldenrodyellow;
}

.lightgray {
  color: $lightgray;
}

.lightgrey {
  color: $lightgrey;
}

.lightpink {
  color: $lightpink;
}

.lightsalmon {
  color: $lightsalmon;
}

.lightseagreen {
  color: $lightseagreen;
}

.lightskyblue {
  color: $lightskyblue;
}

.lightslategray {
  color: $lightslategray;
}

.lightslategrey {
  color: $lightslategrey;
}

.lightsteelblue {
  color: $lightsteelblue;
}

.lightyellow {
  color: $lightyellow;
}

.lime {
  color: $lime;
}

.limegreen {
  color: $limegreen;
}

.linen {
  color: $linen;
}

.magenta {
  color: $magenta;
}

.maroon {
  color: $maroon;
}

.mediumaquamarine {
  color: $mediumaquamarine;
}

.mediumblue {
  color: $mediumblue;
}

.mediumorchid {
  color: $mediumorchid;
}

.mediumpurple {
  color: $mediumpurple;
}

.mediumseagreen {
  color: $mediumseagreen;
}

.mediumslateblue {
  color: $mediumslateblue;
}

.mediumspringgreen {
  color: $mediumspringgreen;
}

.mediumturquoise {
  color: $mediumturquoise;
}

.mediumvioletred {
  color: $mediumvioletred;
}

.midnightblue {
  color: $midnightblue;
}

.mintcream {
  color: $mintcream;
}

.mistyrose {
  color: $mistyrose;
}

.moccasin {
  color: $moccasin;
}

.navajowhite {
  color: $navajowhite;
}

.navy {
  color: $navy;
}

.oldlace {
  color: $oldlace;
}

.olive {
  color: $olive;
}

.olivedrab {
  color: $olivedrab;
}

.orange {
  color: $orange;
}

.orangered {
  color: $orangered;
}

.orchid {
  color: $orchid;
}

.palegoldenrod {
  color: $palegoldenrod;
}

.palegreen {
  color: $palegreen;
}

.paleturquoise {
  color: $paleturquoise;
}

.palevioletred {
  color: $palevioletred;
}

.papayawhip {
  color: $papayawhip;
}

.peachpuff {
  color: $peachpuff;
}

.peru {
  color: $peru;
}

.pink {
  color: $pink;
}

.plum {
  color: $plum;
}

.powderblue {
  color: $powderblue;
}

.purple {
  color: $purple;
}

.red {
  color: $red;
}

.rosybrown {
  color: $rosybrown;
}

.royalblue {
  color: $royalblue;
}

.saddlebrown {
  color: $saddlebrown;
}

.salmon {
  color: $salmon;
}

.sandybrown {
  color: $sandybrown;
}

.seagreen {
  color: $seagreen;
}

.seashell {
  color: $seashell;
}

.sienna {
  color: $sienna;
}

.silver {
  color: $silver;
}

.skyblue {
  color: $skyblue;
}

.slateblue {
  color: $slateblue;
}

.slategray {
  color: $slategray;
}

.slategrey {
  color: $slategrey;
}

.snow {
  color: $snow;
}

.springgreen {
  color: $springgreen;
}

.steelblue {
  color: $steelblue;
}

.tan {
  color: $tan;
}

.teal {
  color: $teal;
}

.thistle {
  color: $thistle;
}

.tomato {
  color: $tomato;
}

.turquoise {
  color: $turquoise;
}

.violet {
  color: $violet;
}

.wheat {
  color: $wheat;
}

.white {
  color: $white;
}

.whitesmoke {
  color: $whitesmoke;
}

.yellow {
  color: $yellow;
}

.yellowgreen {
  color: $yellowgreen;
}

//responsive

@media (max-width: 1199px) {

  .aliceblue-lg {
    color: $aliceblue;
  }

  .antiquewhite-lg {
    color: $antiquewhite;
  }

  .aqua-lg {
    color: $aqua;
  }

  .aquamarine-lg {
    color: $aquamarine;
  }

  .azure-lg {
    color: $azure;
  }

  .beige-lg {
    color: $beige;
  }

  .bisque-lg {
    color: $bisque;
  }

  .black-lg {
    color: $black;
  }

  .blanchedalmond-lg {
    color: $blanchedalmond;
  }

  .blue-lg {
    color: $blue;
  }

  .blueviolet-lg {
    color: $blueviolet;
  }

  .brown-lg {
    color: $brown;
  }

  .burlywood-lg {
    color: $burlywood;
  }

  .cadetblue-lg {
    color: $cadetblue;
  }

  .chartreuse-lg {
    color: $chartreuse;
  }

  .chocolate-lg {
    color: $chocolate;
  }

  .coral-lg {
    color: $coral;
  }

  .cornflowerblue-lg {
    color: $cornflowerblue;
  }

  .cornsilk-lg {
    color: $cornsilk;
  }

  .crimson-lg {
    color: $crimson;
  }

  .cyan-lg {
    color: $cyan;
  }

  .darkblue-lg {
    color: $darkblue;
  }

  .darkcyan-lg {
    color: $darkcyan;
  }

  .darkgoldenrod-lg {
    color: $darkgoldenrod;
  }

  .darkgray-lg {
    color: $darkgray;
  }

  .darkgrey-lg {
    color: $darkgrey;
  }

  .darkgreen-lg {
    color: $darkgreen;
  }

  .darkkhaki-lg {
    color: $darkkhaki;
  }

  .darkmagenta-lg {
    color: $darkmagenta;
  }

  .darkolivegreen-lg {
    color: $darkolivegreen;
  }

  .darkorange-lg {
    color: $darkorange;
  }

  .darkorchid-lg {
    color: $darkorchid;
  }

  .darkred-lg {
    color: $darkred;
  }

  .darksalmon-lg {
    color: $darksalmon;
  }

  .darkseagreen-lg {
    color: $darkseagreen;
  }

  .darkslateblue-lg {
    color: $darkslateblue;
  }

  .darkslategray-lg {
    color: darkslategray;
  }
  .darkslategrey-lg {
    color: darkslategrey;
  }

  .darkturquoise-lg {
    color: $darkturquoise;
  }

  .darkviolet-lg {
    color: $darkviolet;
  }

  .deeppink-lg {
    color: $deeppink;
  }

  .deepskyblue-lg {
    color: $deepskyblue;
  }

  .dimgray-lg {
    color: $dimgray;
  }
  .dimgrey-lg {
    color: $dimgrey;
  }

  .dodgerblue-lg {
    color: $dodgerblue;
  }

  .firebrick-lg {
    color: $firebrick;
  }

  .floralwhite-lg {
    color: $floralwhite;
  }

  .forestgreen-lg {
    color: $forestgreen;
  }

  .fuchsia-lg {
    color: $fuchsia;
  }

  .gainsboro-lg {
    color: $gainsboro;
  }

  .ghostwhite-lg {
    color: $ghostwhite;
  }

  .gold-lg {
    color: $gold;
  }

  .goldenrod-lg {
    color: $goldenrod;
  }

  .gray-lg {
    color: gray;
  }
  .grey-lg {
    color: $grey;
  }

  .green-lg {
    color: $green;
  }

  .greenyellow-lg {
    color: $greenyellow;
  }

  .honeydew-lg {
    color: $honeydew;
  }

  .hotpink-lg {
    color: $hotpink;
  }

  .indianred-lg {
    color: $indianred;
  }

  .indigo-lg {
    color: $indigo;
  }

  .ivory-lg {
    color: $ivory;
  }

  .khaki-lg {
    color: $khaki;
  }

  .lavender-lg {
    color: $lavender;
  }

  .lavenderblush-lg {
    color: $lavenderblush;
  }

  .lawngreen-lg {
    color: $lawngreen;
  }

  .lemonchiffon-lg {
    color: $lemonchiffon;
  }

  .lightblue-lg {
    color: $lightblue;
  }

  .lightcoral-lg {
    color: $lightcoral;
  }

  .lightcyan-lg {
    color: $lightcyan;
  }

  .lightgoldenrodyellow-lg {
    color: $lightgoldenrodyellow;
  }

  .lightgray-lg {
    color: $lightgray;
  }
  .lightgrey-lg {
    color: $lightgrey;
  }

  .lightpink-lg {
    color: $lightpink;
  }

  .lightsalmon-lg {
    color: $lightsalmon;
  }

  .lightseagreen-lg {
    color: $lightseagreen;
  }

  .lightskyblue-lg {
    color: $lightskyblue;
  }

  .lightslategray-lg {
    color: $lightslategray;
  }
  .lightslategrey-lg {
    color: $lightslategrey;
  }

  .lightsteelblue-lg {
    color: $lightsteelblue;
  }

  .lightyellow-lg {
    color: $lightyellow;
  }

  .lime-lg {
    color: $lime;
  }

  .limegreen-lg {
    color: $limegreen;
  }

  .linen-lg {
    color: $linen;
  }

  .magenta-lg {
    color: $magenta;
  }

  .maroon-lg {
    color: $maroon;
  }

  .mediumaquamarine-lg {
    color: $mediumaquamarine;
  }

  .mediumblue-lg {
    color: $mediumblue;
  }

  .mediumorchid-lg {
    color: $mediumorchid;
  }

  .mediumpurple-lg {
    color: $mediumpurple;
  }

  .mediumseagreen-lg {
    color: $mediumseagreen;
  }

  .mediumslateblue-lg {
    color: $mediumslateblue;
  }

  .mediumspringgreen-lg {
    color: $mediumspringgreen;
  }

  .mediumturquoise-lg {
    color: $mediumturquoise;
  }

  .mediumvioletred-lg {
    color: $mediumvioletred;
  }

  .midnightblue-lg {
    color: $midnightblue;
  }

  .mintcream-lg {
    color: $mintcream;
  }

  .mistyrose-lg {
    color: $mistyrose;
  }

  .moccasin-lg {
    color: $moccasin;
  }

  .navajowhite-lg {
    color: $navajowhite;
  }

  .navy-lg {
    color: $navy;
  }

  .oldlace-lg {
    color: $oldlace;
  }

  .olive-lg {
    color: $olive;
  }

  .olivedrab-lg {
    color: $olivedrab;
  }

  .orange-lg {
    color: $orange;
  }

  .orangered-lg {
    color: $orangered;
  }

  .orchid-lg {
    color: $orchid;
  }

  .palegoldenrod-lg {
    color: $palegoldenrod;
  }

  .palegreen-lg {
    color: $palegreen;
  }

  .paleturquoise-lg {
    color: $paleturquoise;
  }

  .palevioletred-lg {
    color: $palevioletred;
  }

  .papayawhip-lg {
    color: $papayawhip;
  }

  .peachpuff-lg {
    color: $peachpuff;
  }

  .peru-lg {
    color: $peru;
  }

  .pink-lg {
    color: $pink;
  }

  .plum-lg {
    color: $plum;
  }

  .powderblue-lg {
    color: $powderblue;
  }

  .purple-lg {
    color: $purple;
  }

  .red-lg {
    color: $red;
  }

  .rosybrown-lg {
    color: $rosybrown;
  }

  .royalblue-lg {
    color: $royalblue;
  }

  .saddlebrown-lg {
    color: $saddlebrown;
  }

  .salmon-lg {
    color: $salmon;
  }

  .sandybrown-lg {
    color: $sandybrown;
  }

  .seagreen-lg {
    color: $seagreen;
  }

  .seashell-lg {
    color: $seashell;
  }

  .sienna-lg {
    color: $sienna;
  }

  .silver-lg {
    color: $silver;
  }

  .skyblue-lg {
    color: $skyblue;
  }

  .slateblue-lg {
    color: $slateblue;
  }

  .slategray-lg {
    color: $slategray;
  }
  .slategrey-lg {
    color: $slategrey;
  }

  .snow-lg {
    color: $snow;
  }

  .springgreen-lg {
    color: $springgreen;
  }

  .steelblue-lg {
    color: $steelblue;
  }

  .tan-lg {
    color: $tan;
  }

  .teal-lg {
    color: $teal;
  }

  .thistle-lg {
    color: $thistle;
  }

  .tomato-lg {
    color: $tomato;
  }

  .turquoise-lg {
    color: $turquoise;
  }

  .violet-lg {
    color: $violet;
  }

  .wheat-lg {
    color: $wheat;
  }

  .white-lg {
    color: $white;
  }

  .whitesmoke-lg {
    color: $whitesmoke;
  }

  .yellow-lg {
    color: $yellow;
  }

  .yellowgreen-lg {
    color: $yellowgreen;
  }

}

@media (max-width: 991px) {

  .aliceblue-md {
    color: $aliceblue;
  }

  .antiquewhite-md {
    color: $antiquewhite;
  }

  .aqua-md {
    color: $aqua;
  }

  .aquamarine-md {
    color: $aquamarine;
  }

  .azure-md {
    color: $azure;
  }

  .beige-md {
    color: $beige;
  }

  .bisque-md {
    color: $bisque;
  }

  .black-md {
    color: $black;
  }

  .blanchedalmond-md {
    color: $blanchedalmond;
  }

  .blue-md {
    color: $blue;
  }

  .blueviolet-md {
    color: $blueviolet;
  }

  .brown-md {
    color: $brown;
  }

  .burlywood-md {
    color: $burlywood;
  }

  .cadetblue-md {
    color: $cadetblue;
  }

  .chartreuse-md {
    color: $chartreuse;
  }

  .chocolate-md {
    color: $chocolate;
  }

  .coral-md {
    color: $coral;
  }

  .cornflowerblue-md {
    color: $cornflowerblue;
  }

  .cornsilk-md {
    color: $cornsilk;
  }

  .crimson-md {
    color: $crimson;
  }

  .cyan-md {
    color: $cyan;
  }

  .darkblue-md {
    color: $darkblue;
  }

  .darkcyan-md {
    color: $darkcyan;
  }

  .darkgoldenrod-md {
    color: $darkgoldenrod;
  }

  .darkgray-md {
    color: $darkgray;
  }

  .darkgrey-md {
    color: $darkgrey;
  }

  .darkgreen-md {
    color: $darkgreen;
  }

  .darkkhaki-md {
    color: $darkkhaki;
  }

  .darkmagenta-md {
    color: $darkmagenta;
  }

  .darkolivegreen-md {
    color: $darkolivegreen;
  }

  .darkorange-md {
    color: $darkorange;
  }

  .darkorchid-md {
    color: $darkorchid;
  }

  .darkred-md {
    color: $darkred;
  }

  .darksalmon-md {
    color: $darksalmon;
  }

  .darkseagreen-md {
    color: $darkseagreen;
  }

  .darkslateblue-md {
    color: $darkslateblue;
  }

  .darkslategray-md {
    color: darkslategray;
  }
  .darkslategrey-md {
    color: darkslategrey;
  }

  .darkturquoise-md {
    color: $darkturquoise;
  }

  .darkviolet-md {
    color: $darkviolet;
  }

  .deeppink-md {
    color: $deeppink;
  }

  .deepskyblue-md {
    color: $deepskyblue;
  }

  .dimgray-md {
    color: $dimgray;
  }
  .dimgrey-md {
    color: $dimgrey;
  }

  .dodgerblue-md {
    color: $dodgerblue;
  }

  .firebrick-md {
    color: $firebrick;
  }

  .floralwhite-md {
    color: $floralwhite;
  }

  .forestgreen-md {
    color: $forestgreen;
  }

  .fuchsia-md {
    color: $fuchsia;
  }

  .gainsboro-md {
    color: $gainsboro;
  }

  .ghostwhite-md {
    color: $ghostwhite;
  }

  .gold-md {
    color: $gold;
  }

  .goldenrod-md {
    color: $goldenrod;
  }

  .gray-md {
    color: gray;
  }
  .grey-md {
    color: $grey;
  }

  .green-md {
    color: $green;
  }

  .greenyellow-md {
    color: $greenyellow;
  }

  .honeydew-md {
    color: $honeydew;
  }

  .hotpink-md {
    color: $hotpink;
  }

  .indianred-md {
    color: $indianred;
  }

  .indigo-md {
    color: $indigo;
  }

  .ivory-md {
    color: $ivory;
  }

  .khaki-md {
    color: $khaki;
  }

  .lavender-md {
    color: $lavender;
  }

  .lavenderblush-md {
    color: $lavenderblush;
  }

  .lawngreen-md {
    color: $lawngreen;
  }

  .lemonchiffon-md {
    color: $lemonchiffon;
  }

  .lightblue-md {
    color: $lightblue;
  }

  .lightcoral-md {
    color: $lightcoral;
  }

  .lightcyan-md {
    color: $lightcyan;
  }

  .lightgoldenrodyellow-md {
    color: $lightgoldenrodyellow;
  }

  .lightgray-md {
    color: $lightgray;
  }
  .lightgrey-md {
    color: $lightgrey;
  }

  .lightpink-md {
    color: $lightpink;
  }

  .lightsalmon-md {
    color: $lightsalmon;
  }

  .lightseagreen-md {
    color: $lightseagreen;
  }

  .lightskyblue-md {
    color: $lightskyblue;
  }

  .lightslategray-md {
    color: $lightslategray;
  }
  .lightslategrey-md {
    color: $lightslategrey;
  }

  .lightsteelblue-md {
    color: $lightsteelblue;
  }

  .lightyellow-md {
    color: $lightyellow;
  }

  .lime-md {
    color: $lime;
  }

  .limegreen-md {
    color: $limegreen;
  }

  .linen-md {
    color: $linen;
  }

  .magenta-md {
    color: $magenta;
  }

  .maroon-md {
    color: $maroon;
  }

  .mediumaquamarine-md {
    color: $mediumaquamarine;
  }

  .mediumblue-md {
    color: $mediumblue;
  }

  .mediumorchid-md {
    color: $mediumorchid;
  }

  .mediumpurple-md {
    color: $mediumpurple;
  }

  .mediumseagreen-md {
    color: $mediumseagreen;
  }

  .mediumslateblue-md {
    color: $mediumslateblue;
  }

  .mediumspringgreen-md {
    color: $mediumspringgreen;
  }

  .mediumturquoise-md {
    color: $mediumturquoise;
  }

  .mediumvioletred-md {
    color: $mediumvioletred;
  }

  .midnightblue-md {
    color: $midnightblue;
  }

  .mintcream-md {
    color: $mintcream;
  }

  .mistyrose-md {
    color: $mistyrose;
  }

  .moccasin-md {
    color: $moccasin;
  }

  .navajowhite-md {
    color: $navajowhite;
  }

  .navy-md {
    color: $navy;
  }

  .oldlace-md {
    color: $oldlace;
  }

  .olive-md {
    color: $olive;
  }

  .olivedrab-md {
    color: $olivedrab;
  }

  .orange-md {
    color: $orange;
  }

  .orangered-md {
    color: $orangered;
  }

  .orchid-md {
    color: $orchid;
  }

  .palegoldenrod-md {
    color: $palegoldenrod;
  }

  .palegreen-md {
    color: $palegreen;
  }

  .paleturquoise-md {
    color: $paleturquoise;
  }

  .palevioletred-md {
    color: $palevioletred;
  }

  .papayawhip-md {
    color: $papayawhip;
  }

  .peachpuff-md {
    color: $peachpuff;
  }

  .peru-md {
    color: $peru;
  }

  .pink-md {
    color: $pink;
  }

  .plum-md {
    color: $plum;
  }

  .powderblue-md {
    color: $powderblue;
  }

  .purple-md {
    color: $purple;
  }

  .red-md {
    color: $red;
  }

  .rosybrown-md {
    color: $rosybrown;
  }

  .royalblue-md {
    color: $royalblue;
  }

  .saddlebrown-md {
    color: $saddlebrown;
  }

  .salmon-md {
    color: $salmon;
  }

  .sandybrown-md {
    color: $sandybrown;
  }

  .seagreen-md {
    color: $seagreen;
  }

  .seashell-md {
    color: $seashell;
  }

  .sienna-md {
    color: $sienna;
  }

  .silver-md {
    color: $silver;
  }

  .skyblue-md {
    color: $skyblue;
  }

  .slateblue-md {
    color: $slateblue;
  }

  .slategray-md {
    color: $slategray;
  }
  .slategrey-md {
    color: $slategrey;
  }

  .snow-md {
    color: $snow;
  }

  .springgreen-md {
    color: $springgreen;
  }

  .steelblue-md {
    color: $steelblue;
  }

  .tan-md {
    color: $tan;
  }

  .teal-md {
    color: $teal;
  }

  .thistle-md {
    color: $thistle;
  }

  .tomato-md {
    color: $tomato;
  }

  .turquoise-md {
    color: $turquoise;
  }

  .violet-md {
    color: $violet;
  }

  .wheat-md {
    color: $wheat;
  }

  .white-md {
    color: $white;
  }

  .whitesmoke-md {
    color: $whitesmoke;
  }

  .yellow-md {
    color: $yellow;
  }

  .yellowgreen-md {
    color: $yellowgreen;
  }

}

@media (max-width: 767px) {

  .aliceblue-sm {
    color: $aliceblue;
  }

  .antiquewhite-sm {
    color: $antiquewhite;
  }

  .aqua-sm {
    color: $aqua;
  }

  .aquamarine-sm {
    color: $aquamarine;
  }

  .azure-sm {
    color: $azure;
  }

  .beige-sm {
    color: $beige;
  }

  .bisque-sm {
    color: $bisque;
  }

  .black-sm {
    color: $black;
  }

  .blanchedalmond-sm {
    color: $blanchedalmond;
  }

  .blue-sm {
    color: $blue;
  }

  .blueviolet-sm {
    color: $blueviolet;
  }

  .brown-sm {
    color: $brown;
  }

  .burlywood-sm {
    color: $burlywood;
  }

  .cadetblue-sm {
    color: $cadetblue;
  }

  .chartreuse-sm {
    color: $chartreuse;
  }

  .chocolate-sm {
    color: $chocolate;
  }

  .coral-sm {
    color: $coral;
  }

  .cornflowerblue-sm {
    color: $cornflowerblue;
  }

  .cornsilk-sm {
    color: $cornsilk;
  }

  .crimson-sm {
    color: $crimson;
  }

  .cyan-sm {
    color: $cyan;
  }

  .darkblue-sm {
    color: $darkblue;
  }

  .darkcyan-sm {
    color: $darkcyan;
  }

  .darkgoldenrod-sm {
    color: $darkgoldenrod;
  }

  .darkgray-sm {
    color: $darkgray;
  }

  .darkgrey-sm {
    color: $darkgrey;
  }

  .darkgreen-sm {
    color: $darkgreen;
  }

  .darkkhaki-sm {
    color: $darkkhaki;
  }

  .darkmagenta-sm {
    color: $darkmagenta;
  }

  .darkolivegreen-sm {
    color: $darkolivegreen;
  }

  .darkorange-sm {
    color: $darkorange;
  }

  .darkorchid-sm {
    color: $darkorchid;
  }

  .darkred-sm {
    color: $darkred;
  }

  .darksalmon-sm {
    color: $darksalmon;
  }

  .darkseagreen-sm {
    color: $darkseagreen;
  }

  .darkslateblue-sm {
    color: $darkslateblue;
  }

  .darkslategray-sm {
    color: darkslategray;
  }
  .darkslategrey-sm {
    color: darkslategrey;
  }

  .darkturquoise-sm {
    color: $darkturquoise;
  }

  .darkviolet-sm {
    color: $darkviolet;
  }

  .deeppink-sm {
    color: $deeppink;
  }

  .deepskyblue-sm {
    color: $deepskyblue;
  }

  .dimgray-sm {
    color: $dimgray;
  }
  .dimgrey-sm {
    color: $dimgrey;
  }

  .dodgerblue-sm {
    color: $dodgerblue;
  }

  .firebrick-sm {
    color: $firebrick;
  }

  .floralwhite-sm {
    color: $floralwhite;
  }

  .forestgreen-sm {
    color: $forestgreen;
  }

  .fuchsia-sm {
    color: $fuchsia;
  }

  .gainsboro-sm {
    color: $gainsboro;
  }

  .ghostwhite-sm {
    color: $ghostwhite;
  }

  .gold-sm {
    color: $gold;
  }

  .goldenrod-sm {
    color: $goldenrod;
  }

  .gray-sm {
    color: gray;
  }
  .grey-sm {
    color: $grey;
  }

  .green-sm {
    color: $green;
  }

  .greenyellow-sm {
    color: $greenyellow;
  }

  .honeydew-sm {
    color: $honeydew;
  }

  .hotpink-sm {
    color: $hotpink;
  }

  .indianred-sm {
    color: $indianred;
  }

  .indigo-sm {
    color: $indigo;
  }

  .ivory-sm {
    color: $ivory;
  }

  .khaki-sm {
    color: $khaki;
  }

  .lavender-sm {
    color: $lavender;
  }

  .lavenderblush-sm {
    color: $lavenderblush;
  }

  .lawngreen-sm {
    color: $lawngreen;
  }

  .lemonchiffon-sm {
    color: $lemonchiffon;
  }

  .lightblue-sm {
    color: $lightblue;
  }

  .lightcoral-sm {
    color: $lightcoral;
  }

  .lightcyan-sm {
    color: $lightcyan;
  }

  .lightgoldenrodyellow-sm {
    color: $lightgoldenrodyellow;
  }

  .lightgray-sm {
    color: $lightgray;
  }
  .lightgrey-sm {
    color: $lightgrey;
  }

  .lightpink-sm {
    color: $lightpink;
  }

  .lightsalmon-sm {
    color: $lightsalmon;
  }

  .lightseagreen-sm {
    color: $lightseagreen;
  }

  .lightskyblue-sm {
    color: $lightskyblue;
  }

  .lightslategray-sm {
    color: $lightslategray;
  }
  .lightslategrey-sm {
    color: $lightslategrey;
  }

  .lightsteelblue-sm {
    color: $lightsteelblue;
  }

  .lightyellow-sm {
    color: $lightyellow;
  }

  .lime-sm {
    color: $lime;
  }

  .limegreen-sm {
    color: $limegreen;
  }

  .linen-sm {
    color: $linen;
  }

  .magenta-sm {
    color: $magenta;
  }

  .maroon-sm {
    color: $maroon;
  }

  .mediumaquamarine-sm {
    color: $mediumaquamarine;
  }

  .mediumblue-sm {
    color: $mediumblue;
  }

  .mediumorchid-sm {
    color: $mediumorchid;
  }

  .mediumpurple-sm {
    color: $mediumpurple;
  }

  .mediumseagreen-sm {
    color: $mediumseagreen;
  }

  .mediumslateblue-sm {
    color: $mediumslateblue;
  }

  .mediumspringgreen-sm {
    color: $mediumspringgreen;
  }

  .mediumturquoise-sm {
    color: $mediumturquoise;
  }

  .mediumvioletred-sm {
    color: $mediumvioletred;
  }

  .midnightblue-sm {
    color: $midnightblue;
  }

  .mintcream-sm {
    color: $mintcream;
  }

  .mistyrose-sm {
    color: $mistyrose;
  }

  .moccasin-sm {
    color: $moccasin;
  }

  .navajowhite-sm {
    color: $navajowhite;
  }

  .navy-sm {
    color: $navy;
  }

  .oldlace-sm {
    color: $oldlace;
  }

  .olive-sm {
    color: $olive;
  }

  .olivedrab-sm {
    color: $olivedrab;
  }

  .orange-sm {
    color: $orange;
  }

  .orangered-sm {
    color: $orangered;
  }

  .orchid-sm {
    color: $orchid;
  }

  .palegoldenrod-sm {
    color: $palegoldenrod;
  }

  .palegreen-sm {
    color: $palegreen;
  }

  .paleturquoise-sm {
    color: $paleturquoise;
  }

  .palevioletred-sm {
    color: $palevioletred;
  }

  .papayawhip-sm {
    color: $papayawhip;
  }

  .peachpuff-sm {
    color: $peachpuff;
  }

  .peru-sm {
    color: $peru;
  }

  .pink-sm {
    color: $pink;
  }

  .plum-sm {
    color: $plum;
  }

  .powderblue-sm {
    color: $powderblue;
  }

  .purple-sm {
    color: $purple;
  }

  .red-sm {
    color: $red;
  }

  .rosybrown-sm {
    color: $rosybrown;
  }

  .royalblue-sm {
    color: $royalblue;
  }

  .saddlebrown-sm {
    color: $saddlebrown;
  }

  .salmon-sm {
    color: $salmon;
  }

  .sandybrown-sm {
    color: $sandybrown;
  }

  .seagreen-sm {
    color: $seagreen;
  }

  .seashell-sm {
    color: $seashell;
  }

  .sienna-sm {
    color: $sienna;
  }

  .silver-sm {
    color: $silver;
  }

  .skyblue-sm {
    color: $skyblue;
  }

  .slateblue-sm {
    color: $slateblue;
  }

  .slategray-sm {
    color: $slategray;
  }
  .slategrey-sm {
    color: $slategrey;
  }

  .snow-sm {
    color: $snow;
  }

  .springgreen-sm {
    color: $springgreen;
  }

  .steelblue-sm {
    color: $steelblue;
  }

  .tan-sm {
    color: $tan;
  }

  .teal-sm {
    color: $teal;
  }

  .thistle-sm {
    color: $thistle;
  }

  .tomato-sm {
    color: $tomato;
  }

  .turquoise-sm {
    color: $turquoise;
  }

  .violet-sm {
    color: $violet;
  }

  .wheat-sm {
    color: $wheat;
  }

  .white-sm {
    color: $white;
  }

  .whitesmoke-sm {
    color: $whitesmoke;
  }

  .yellow-sm {
    color: $yellow;
  }

  .yellowgreen-sm {
    color: $yellowgreen;
  }

}

@media (max-width: 479px) {

  .aliceblue-xs {
    color: $aliceblue;
  }

  .antiquewhite-xs {
    color: $antiquewhite;
  }

  .aqua-xs {
    color: $aqua;
  }

  .aquamarine-xs {
    color: $aquamarine;
  }

  .azure-xs {
    color: $azure;
  }

  .beige-xs {
    color: $beige;
  }

  .bisque-xs {
    color: $bisque;
  }

  .black-xs {
    color: $black;
  }

  .blanchedalmond-xs {
    color: $blanchedalmond;
  }

  .blue-xs {
    color: $blue;
  }

  .blueviolet-xs {
    color: $blueviolet;
  }

  .brown-xs {
    color: $brown;
  }

  .burlywood-xs {
    color: $burlywood;
  }

  .cadetblue-xs {
    color: $cadetblue;
  }

  .chartreuse-xs {
    color: $chartreuse;
  }

  .chocolate-xs {
    color: $chocolate;
  }

  .coral-xs {
    color: $coral;
  }

  .cornflowerblue-xs {
    color: $cornflowerblue;
  }

  .cornsilk-xs {
    color: $cornsilk;
  }

  .crimson-xs {
    color: $crimson;
  }

  .cyan-xs {
    color: $cyan;
  }

  .darkblue-xs {
    color: $darkblue;
  }

  .darkcyan-xs {
    color: $darkcyan;
  }

  .darkgoldenrod-xs {
    color: $darkgoldenrod;
  }

  .darkgray-xs {
    color: $darkgray;
  }

  .darkgrey-xs {
    color: $darkgrey;
  }

  .darkgreen-xs {
    color: $darkgreen;
  }

  .darkkhaki-xs {
    color: $darkkhaki;
  }

  .darkmagenta-xs {
    color: $darkmagenta;
  }

  .darkolivegreen-xs {
    color: $darkolivegreen;
  }

  .darkorange-xs {
    color: $darkorange;
  }

  .darkorchid-xs {
    color: $darkorchid;
  }

  .darkred-xs {
    color: $darkred;
  }

  .darksalmon-xs {
    color: $darksalmon;
  }

  .darkseagreen-xs {
    color: $darkseagreen;
  }

  .darkslateblue-xs {
    color: $darkslateblue;
  }

  .darkslategray-xs {
    color: darkslategray;
  }
  .darkslategrey-xs {
    color: darkslategrey;
  }

  .darkturquoise-xs {
    color: $darkturquoise;
  }

  .darkviolet-xs {
    color: $darkviolet;
  }

  .deeppink-xs {
    color: $deeppink;
  }

  .deepskyblue-xs {
    color: $deepskyblue;
  }

  .dimgray-xs {
    color: $dimgray;
  }
  .dimgrey-xs {
    color: $dimgrey;
  }

  .dodgerblue-xs {
    color: $dodgerblue;
  }

  .firebrick-xs {
    color: $firebrick;
  }

  .floralwhite-xs {
    color: $floralwhite;
  }

  .forestgreen-xs {
    color: $forestgreen;
  }

  .fuchsia-xs {
    color: $fuchsia;
  }

  .gainsboro-xs {
    color: $gainsboro;
  }

  .ghostwhite-xs {
    color: $ghostwhite;
  }

  .gold-xs {
    color: $gold;
  }

  .goldenrod-xs {
    color: $goldenrod;
  }

  .gray-xs {
    color: gray;
  }
  .grey-xs {
    color: $grey;
  }

  .green-xs {
    color: $green;
  }

  .greenyellow-xs {
    color: $greenyellow;
  }

  .honeydew-xs {
    color: $honeydew;
  }

  .hotpink-xs {
    color: $hotpink;
  }

  .indianred-xs {
    color: $indianred;
  }

  .indigo-xs {
    color: $indigo;
  }

  .ivory-xs {
    color: $ivory;
  }

  .khaki-xs {
    color: $khaki;
  }

  .lavender-xs {
    color: $lavender;
  }

  .lavenderblush-xs {
    color: $lavenderblush;
  }

  .lawngreen-xs {
    color: $lawngreen;
  }

  .lemonchiffon-xs {
    color: $lemonchiffon;
  }

  .lightblue-xs {
    color: $lightblue;
  }

  .lightcoral-xs {
    color: $lightcoral;
  }

  .lightcyan-xs {
    color: $lightcyan;
  }

  .lightgoldenrodyellow-xs {
    color: $lightgoldenrodyellow;
  }

  .lightgray-xs {
    color: $lightgray;
  }
  .lightgrey-xs {
    color: $lightgrey;
  }

  .lightpink-xs {
    color: $lightpink;
  }

  .lightsalmon-xs {
    color: $lightsalmon;
  }

  .lightseagreen-xs {
    color: $lightseagreen;
  }

  .lightskyblue-xs {
    color: $lightskyblue;
  }

  .lightslategray-xs {
    color: $lightslategray;
  }
  .lightslategrey-xs {
    color: $lightslategrey;
  }

  .lightsteelblue-xs {
    color: $lightsteelblue;
  }

  .lightyellow-xs {
    color: $lightyellow;
  }

  .lime-xs {
    color: $lime;
  }

  .limegreen-xs {
    color: $limegreen;
  }

  .linen-xs {
    color: $linen;
  }

  .magenta-xs {
    color: $magenta;
  }

  .maroon-xs {
    color: $maroon;
  }

  .mediumaquamarine-xs {
    color: $mediumaquamarine;
  }

  .mediumblue-xs {
    color: $mediumblue;
  }

  .mediumorchid-xs {
    color: $mediumorchid;
  }

  .mediumpurple-xs {
    color: $mediumpurple;
  }

  .mediumseagreen-xs {
    color: $mediumseagreen;
  }

  .mediumslateblue-xs {
    color: $mediumslateblue;
  }

  .mediumspringgreen-xs {
    color: $mediumspringgreen;
  }

  .mediumturquoise-xs {
    color: $mediumturquoise;
  }

  .mediumvioletred-xs {
    color: $mediumvioletred;
  }

  .midnightblue-xs {
    color: $midnightblue;
  }

  .mintcream-xs {
    color: $mintcream;
  }

  .mistyrose-xs {
    color: $mistyrose;
  }

  .moccasin-xs {
    color: $moccasin;
  }

  .navajowhite-xs {
    color: $navajowhite;
  }

  .navy-xs {
    color: $navy;
  }

  .oldlace-xs {
    color: $oldlace;
  }

  .olive-xs {
    color: $olive;
  }

  .olivedrab-xs {
    color: $olivedrab;
  }

  .orange-xs {
    color: $orange;
  }

  .orangered-xs {
    color: $orangered;
  }

  .orchid-xs {
    color: $orchid;
  }

  .palegoldenrod-xs {
    color: $palegoldenrod;
  }

  .palegreen-xs {
    color: $palegreen;
  }

  .paleturquoise-xs {
    color: $paleturquoise;
  }

  .palevioletred-xs {
    color: $palevioletred;
  }

  .papayawhip-xs {
    color: $papayawhip;
  }

  .peachpuff-xs {
    color: $peachpuff;
  }

  .peru-xs {
    color: $peru;
  }

  .pink-xs {
    color: $pink;
  }

  .plum-xs {
    color: $plum;
  }

  .powderblue-xs {
    color: $powderblue;
  }

  .purple-xs {
    color: $purple;
  }

  .red-xs {
    color: $red;
  }

  .rosybrown-xs {
    color: $rosybrown;
  }

  .royalblue-xs {
    color: $royalblue;
  }

  .saddlebrown-xs {
    color: $saddlebrown;
  }

  .salmon-xs {
    color: $salmon;
  }

  .sandybrown-xs {
    color: $sandybrown;
  }

  .seagreen-xs {
    color: $seagreen;
  }

  .seashell-xs {
    color: $seashell;
  }

  .sienna-xs {
    color: $sienna;
  }

  .silver-xs {
    color: $silver;
  }

  .skyblue-xs {
    color: $skyblue;
  }

  .slateblue-xs {
    color: $slateblue;
  }

  .slategray-xs {
    color: $slategray;
  }
  .slategrey-xs {
    color: $slategrey;
  }

  .snow-xs {
    color: $snow;
  }

  .springgreen-xs {
    color: $springgreen;
  }

  .steelblue-xs {
    color: $steelblue;
  }

  .tan-xs {
    color: $tan;
  }

  .teal-xs {
    color: $teal;
  }

  .thistle-xs {
    color: $thistle;
  }

  .tomato-xs {
    color: $tomato;
  }

  .turquoise-xs {
    color: $turquoise;
  }

  .violet-xs {
    color: $violet;
  }

  .wheat-xs {
    color: $wheat;
  }

  .white-xs {
    color: $white;
  }

  .whitesmoke-xs {
    color: $whitesmoke;
  }

  .yellow-xs {
    color: $yellow;
  }

  .yellowgreen-xs {
    color: $yellowgreen;
  }

}

@media (max-width: 319px) {}