//form

input {
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    /*chrome浏览器下
    去除number类型输入框里的上下小箭头*/
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    /*Firefox浏览器下
    去除number类型输入框里的上下小箭头*/
    -moz-appearance: textfield;
  }

  &:focus {
    outline: none;
  }
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  outline: none;

  &:focus, &:hover {
    border: 1px solid $default-color;
    outline: 0;
    box-shadow: none;
  }

  //color

  &.white:focus, &.white:hover {
    $border: 1px solid $white;
    color: $white;
    border: $border;
  }

  &.black:focus, &.black:hover {
    $border: 1px solid $black;
    color: $black;
    border: $border;
  }

  &.red:focus, &.red:hover {
    $border: 1px solid $color-red-hover;
    color: $color-red-hover;
    border: $border;
  }

  &.pink:focus, &.pink:hover {
    $border: 1px solid $color-pink-hover;
    color: $color-pink-hover;
    border: $border;
  }

  &.purple:focus, &.purple:hover {
    $border: 1px solid $color-purple-hover;
    color: $color-purple-hover;
    border: $border;
  }

  &.deep-purple:focus, &.deep-purple:hover {
    $border: 1px solid $color-deep-purple-hover;
    color: $color-deep-purple-hover;
    border: $border;
  }

  &.indigo:focus, &.indigo:hover {
    $border: 1px solid $color-indigo-hover;
    color: $color-indigo-hover;
    border: $border;
  }

  &.blue:focus, &.blue:hover {
    $border: 1px solid $color-blue-hover;
    color: $color-blue-hover;
    border: $border;
  }

  &.light-blue:focus, &.light-blue:hover {
    $border: 1px solid $color-light-blue-hover;
    color: $color-light-blue-hover;
    border: $border;
  }

  &.cyan:focus, &.cyan:hover {
    $border: 1px solid $color-cyan-hover;
    color: $color-cyan-hover;
    border: $border;
  }

  &.teal:focus, &.teal:hover {
    $border: 1px solid $color-teal-hover;
    color: $color-teal-hover;
    border: $border;
  }

  &.green:focus, &.green:hover {
    $border: 1px solid $color-green-hover;
    color: $color-green-hover;
    border: $border;
  }

  &.light-green:focus, &.light-green:hover {
    $border: 1px solid $color-light-green-hover;
    color: $color-light-green-hover;
    border: $border;
  }

  &.lime:focus, &.lime:hover {
    $border: 1px solid $color-lime-hover;
    color: $color-lime-hover;
    border: $border;
  }

  &.yellow:focus, &.yellow:hover {
    $border: 1px solid $color-yellow-hover;
    color: $color-yellow-hover;
    border: $border;
  }

  &.amber:focus, &.amber:hover {
    $border: 1px solid $color-amber-hover;
    color: $color-amber-hover;
    border: $border;
  }

  &.orange:focus, &.orange:hover {
    $border: 1px solid $color-orange-hover;
    color: $color-orange-hover;
    border: $border;
  }

  &.deep-orange:focus, &.deep-orange:hover {
    $border: 1px solid $color-deep-orange-hover;
    color: $color-deep-orange-hover;
    border: $border;
  }

  &.brown:focus, &.brown:hover {
    $border: 1px solid $color-brown-hover;
    color: $color-brown-hover;
    border: $border;
  }

  &.grey:focus, &.grey:hover {
    $border: 1px solid $color-grey-hover;
    color: $color-grey-hover;
    border: $border;
  }

  &.blue-grey:focus, &.blue-grey:hover {
    $border: 1px solid $color-blue-grey-hover;
    color: $color-blue-grey-hover;
    border: $border;
  }
}

//responsive

@media (max-width: 1199px) {

  .form-control {

    &.white-lg:focus, &.white-lg:hover {
      $border: 1px solid $white;
      color: $white;
      border: $border;
    }

    &.black-lg:focus, &.black-lg:hover {
      $border: 1px solid $black;
      color: $black;
      border: $border;
    }

    &.red-lg:focus, &.red-lg:hover {
      $border: 1px solid $color-red-hover;
      color: $color-red-hover;
      border: $border;
    }

    &.pink-lg:focus, &.pink-lg:hover {
      $border: 1px solid $color-pink-hover;
      color: $color-pink-hover;
      border: $border;
    }

    &.purple-lg:focus, &.purple-lg:hover {
      $border: 1px solid $color-purple-hover;
      color: $color-purple-hover;
      border: $border;
    }

    &.deep-purple-lg:focus, &.deep-purple-lg:hover {
      $border: 1px solid $color-deep-purple-hover;
      color: $color-deep-purple-hover;
      border: $border;
    }

    &.indigo-lg:focus, &.indigo-lg:hover {
      $border: 1px solid $color-indigo-hover;
      color: $color-indigo-hover;
      border: $border;
    }

    &.blue-lg:focus, &.blue-lg:hover {
      $border: 1px solid $color-blue-hover;
      color: $color-blue-hover;
      border: $border;
    }

    &.light-blue-lg:focus, &.light-blue-lg:hover {
      $border: 1px solid $color-light-blue-hover;
      color: $color-light-blue-hover;
      border: $border;
    }

    &.cyan-lg:focus, &.cyan-lg:hover {
      $border: 1px solid $color-cyan-hover;
      color: $color-cyan-hover;
      border: $border;
    }

    &.teal-lg:focus, &.teal-lg:hover {
      $border: 1px solid $color-teal-hover;
      color: $color-teal-hover;
      border: $border;
    }

    &.green-lg:focus, &.green-lg:hover {
      $border: 1px solid $color-green-hover;
      color: $color-green-hover;
      border: $border;
    }

    &.light-green-lg:focus, &.light-green-lg:hover {
      $border: 1px solid $color-light-green-hover;
      color: $color-light-green-hover;
      border: $border;
    }

    &.lime-lg:focus, &.lime-lg:hover {
      $border: 1px solid $color-lime-hover;
      color: $color-lime-hover;
      border: $border;
    }

    &.yellow-lg:focus, &.yellow-lg:hover {
      $border: 1px solid $color-yellow-hover;
      color: $color-yellow-hover;
      border: $border;
    }

    &.amber-lg:focus, &.amber-lg:hover {
      $border: 1px solid $color-amber-hover;
      color: $color-amber-hover;
      border: $border;
    }

    &.orange-lg:focus, &.orange-lg:hover {
      $border: 1px solid $color-orange-hover;
      color: $color-orange-hover;
      border: $border;
    }

    &.deep-orange-lg:focus, &.deep-orange-lg:hover {
      $border: 1px solid $color-deep-orange-hover;
      color: $color-deep-orange-hover;
      border: $border;
    }

    &.brown-lg:focus, &.brown-lg:hover {
      $border: 1px solid $color-brown-hover;
      color: $color-brown-hover;
      border: $border;
    }

    &.grey-lg:focus, &.grey-lg:hover {
      $border: 1px solid $color-grey-hover;
      color: $color-grey-hover;
      border: $border;
    }

    &.blue-grey-lg:focus, &.blue-grey-lg:hover {
      $border: 1px solid $color-blue-grey-hover;
      color: $color-blue-grey-hover;
      border: $border;
    }

  }

}

@media (max-width: 991px) {

  .form-control {

    &.white-md:focus, &.white-md:hover {
      $border: 1px solid $white;
      color: $white;
      border: $border;
    }

    &.black-md:focus, &.black-md:hover {
      $border: 1px solid $black;
      color: $black;
      border: $border;
    }

    &.red-md:focus, &.red-md:hover {
      $border: 1px solid $color-red-hover;
      color: $color-red-hover;
      border: $border;
    }

    &.pink-md:focus, &.pink-md:hover {
      $border: 1px solid $color-pink-hover;
      color: $color-pink-hover;
      border: $border;
    }

    &.purple-md:focus, &.purple-md:hover {
      $border: 1px solid $color-purple-hover;
      color: $color-purple-hover;
      border: $border;
    }

    &.deep-purple-md:focus, &.deep-purple-md:hover {
      $border: 1px solid $color-deep-purple-hover;
      color: $color-deep-purple-hover;
      border: $border;
    }

    &.indigo-md:focus, &.indigo-md:hover {
      $border: 1px solid $color-indigo-hover;
      color: $color-indigo-hover;
      border: $border;
    }

    &.blue-md:focus, &.blue-md:hover {
      $border: 1px solid $color-blue-hover;
      color: $color-blue-hover;
      border: $border;
    }

    &.light-blue-md:focus, &.light-blue-md:hover {
      $border: 1px solid $color-light-blue-hover;
      color: $color-light-blue-hover;
      border: $border;
    }

    &.cyan-md:focus, &.cyan-md:hover {
      $border: 1px solid $color-cyan-hover;
      color: $color-cyan-hover;
      border: $border;
    }

    &.teal-md:focus, &.teal-md:hover {
      $border: 1px solid $color-teal-hover;
      color: $color-teal-hover;
      border: $border;
    }

    &.green-md:focus, &.green-md:hover {
      $border: 1px solid $color-green-hover;
      color: $color-green-hover;
      border: $border;
    }

    &.light-green-md:focus, &.light-green-md:hover {
      $border: 1px solid $color-light-green-hover;
      color: $color-light-green-hover;
      border: $border;
    }

    &.lime-md:focus, &.lime-md:hover {
      $border: 1px solid $color-lime-hover;
      color: $color-lime-hover;
      border: $border;
    }

    &.yellow-md:focus, &.yellow-md:hover {
      $border: 1px solid $color-yellow-hover;
      color: $color-yellow-hover;
      border: $border;
    }

    &.amber-md:focus, &.amber-md:hover {
      $border: 1px solid $color-amber-hover;
      color: $color-amber-hover;
      border: $border;
    }

    &.orange-md:focus, &.orange-md:hover {
      $border: 1px solid $color-orange-hover;
      color: $color-orange-hover;
      border: $border;
    }

    &.deep-orange-md:focus, &.deep-orange-md:hover {
      $border: 1px solid $color-deep-orange-hover;
      color: $color-deep-orange-hover;
      border: $border;
    }

    &.brown-md:focus, &.brown-md:hover {
      $border: 1px solid $color-brown-hover;
      color: $color-brown-hover;
      border: $border;
    }

    &.grey-md:focus, &.grey-md:hover {
      $border: 1px solid $color-grey-hover;
      color: $color-grey-hover;
      border: $border;
    }

    &.blue-grey-md:focus, &.blue-grey-md:hover {
      $border: 1px solid $color-blue-grey-hover;
      color: $color-blue-grey-hover;
      border: $border;
    }

  }

}

@media (max-width: 767px) {

  .form-control {

    &.white-sm:focus, &.white-sm:hover {
      $border: 1px solid $white;
      color: $white;
      border: $border;
    }

    &.black-sm:focus, &.black-sm:hover {
      $border: 1px solid $black;
      color: $black;
      border: $border;
    }

    &.red-sm:focus, &.red-sm:hover {
      $border: 1px solid $color-red-hover;
      color: $color-red-hover;
      border: $border;
    }

    &.pink-sm:focus, &.pink-sm:hover {
      $border: 1px solid $color-pink-hover;
      color: $color-pink-hover;
      border: $border;
    }

    &.purple-sm:focus, &.purple-sm:hover {
      $border: 1px solid $color-purple-hover;
      color: $color-purple-hover;
      border: $border;
    }

    &.deep-purple-sm:focus, &.deep-purple-sm:hover {
      $border: 1px solid $color-deep-purple-hover;
      color: $color-deep-purple-hover;
      border: $border;
    }

    &.indigo-sm:focus, &.indigo-sm:hover {
      $border: 1px solid $color-indigo-hover;
      color: $color-indigo-hover;
      border: $border;
    }

    &.blue-sm:focus, &.blue-sm:hover {
      $border: 1px solid $color-blue-hover;
      color: $color-blue-hover;
      border: $border;
    }

    &.light-blue-sm:focus, &.light-blue-sm:hover {
      $border: 1px solid $color-light-blue-hover;
      color: $color-light-blue-hover;
      border: $border;
    }

    &.cyan-sm:focus, &.cyan-sm:hover {
      $border: 1px solid $color-cyan-hover;
      color: $color-cyan-hover;
      border: $border;
    }

    &.teal-sm:focus, &.teal-sm:hover {
      $border: 1px solid $color-teal-hover;
      color: $color-teal-hover;
      border: $border;
    }

    &.green-sm:focus, &.green-sm:hover {
      $border: 1px solid $color-green-hover;
      color: $color-green-hover;
      border: $border;
    }

    &.light-green-sm:focus, &.light-green-sm:hover {
      $border: 1px solid $color-light-green-hover;
      color: $color-light-green-hover;
      border: $border;
    }

    &.lime-sm:focus, &.lime-sm:hover {
      $border: 1px solid $color-lime-hover;
      color: $color-lime-hover;
      border: $border;
    }

    &.yellow-sm:focus, &.yellow-sm:hover {
      $border: 1px solid $color-yellow-hover;
      color: $color-yellow-hover;
      border: $border;
    }

    &.amber-sm:focus, &.amber-sm:hover {
      $border: 1px solid $color-amber-hover;
      color: $color-amber-hover;
      border: $border;
    }

    &.orange-sm:focus, &.orange-sm:hover {
      $border: 1px solid $color-orange-hover;
      color: $color-orange-hover;
      border: $border;
    }

    &.deep-orange-sm:focus, &.deep-orange-sm:hover {
      $border: 1px solid $color-deep-orange-hover;
      color: $color-deep-orange-hover;
      border: $border;
    }

    &.brown-sm:focus, &.brown-sm:hover {
      $border: 1px solid $color-brown-hover;
      color: $color-brown-hover;
      border: $border;
    }

    &.grey-sm:focus, &.grey-sm:hover {
      $border: 1px solid $color-grey-hover;
      color: $color-grey-hover;
      border: $border;
    }

    &.blue-grey-sm:focus, &.blue-grey-sm:hover {
      $border: 1px solid $color-blue-grey-hover;
      color: $color-blue-grey-hover;
      border: $border;
    }

  }

}

@media (max-width: 479px) {

  .form-control {

    &.white-xs:focus, &.white-xs:hover {
      $border: 1px solid $white;
      color: $white;
      border: $border;
    }

    &.black-xs:focus, &.black-xs:hover {
      $border: 1px solid $black;
      color: $black;
      border: $border;
    }

    &.red-xs:focus, &.red-xs:hover {
      $border: 1px solid $color-red-hover;
      color: $color-red-hover;
      border: $border;
    }

    &.pink-xs:focus, &.pink-xs:hover {
      $border: 1px solid $color-pink-hover;
      color: $color-pink-hover;
      border: $border;
    }

    &.purple-xs:focus, &.purple-xs:hover {
      $border: 1px solid $color-purple-hover;
      color: $color-purple-hover;
      border: $border;
    }

    &.deep-purple-xs:focus, &.deep-purple-xs:hover {
      $border: 1px solid $color-deep-purple-hover;
      color: $color-deep-purple-hover;
      border: $border;
    }

    &.indigo-xs:focus, &.indigo-xs:hover {
      $border: 1px solid $color-indigo-hover;
      color: $color-indigo-hover;
      border: $border;
    }

    &.blue-xs:focus, &.blue-xs:hover {
      $border: 1px solid $color-blue-hover;
      color: $color-blue-hover;
      border: $border;
    }

    &.light-blue-xs:focus, &.light-blue-xs:hover {
      $border: 1px solid $color-light-blue-hover;
      color: $color-light-blue-hover;
      border: $border;
    }

    &.cyan-xs:focus, &.cyan-xs:hover {
      $border: 1px solid $color-cyan-hover;
      color: $color-cyan-hover;
      border: $border;
    }

    &.teal-xs:focus, &.teal-xs:hover {
      $border: 1px solid $color-teal-hover;
      color: $color-teal-hover;
      border: $border;
    }

    &.green-xs:focus, &.green-xs:hover {
      $border: 1px solid $color-green-hover;
      color: $color-green-hover;
      border: $border;
    }

    &.light-green-xs:focus, &.light-green-xs:hover {
      $border: 1px solid $color-light-green-hover;
      color: $color-light-green-hover;
      border: $border;
    }

    &.lime-xs:focus, &.lime-xs:hover {
      $border: 1px solid $color-lime-hover;
      color: $color-lime-hover;
      border: $border;
    }

    &.yellow-xs:focus, &.yellow-xs:hover {
      $border: 1px solid $color-yellow-hover;
      color: $color-yellow-hover;
      border: $border;
    }

    &.amber-xs:focus, &.amber-xs:hover {
      $border: 1px solid $color-amber-hover;
      color: $color-amber-hover;
      border: $border;
    }

    &.orange-xs:focus, &.orange-xs:hover {
      $border: 1px solid $color-orange-hover;
      color: $color-orange-hover;
      border: $border;
    }

    &.deep-orange-xs:focus, &.deep-orange-xs:hover {
      $border: 1px solid $color-deep-orange-hover;
      color: $color-deep-orange-hover;
      border: $border;
    }

    &.brown-xs:focus, &.brown-xs:hover {
      $border: 1px solid $color-brown-hover;
      color: $color-brown-hover;
      border: $border;
    }

    &.grey-xs:focus, &.grey-xs:hover {
      $border: 1px solid $color-grey-hover;
      color: $color-grey-hover;
      border: $border;
    }

    &.blue-grey-xs:focus, &.blue-grey-xs:hover {
      $border: 1px solid $color-blue-grey-hover;
      color: $color-blue-grey-hover;
      border: $border;
    }

  }

}

@media (max-width: 319px) {}