//link

a.hover {
  &.underline {
    text-decoration: underline;
  }

  &.white:hover, &.white:focus {
    color: $white;
  }

  &.black:hover, &.black:focus {
    color: $black;
  }

  &.red:hover, &.red:focus {
    color: $color-red-hover;
  }

  &.pink:hover, &.pink:focus {
    color: $color-pink-hover;
  }

  &.purple:hover, &.purple:focus {
    color: $color-purple-hover;
  }

  &.deep-purple:hover, &.deep-purple:focus {
    color: $color-deep-purple-hover;
  }

  &.indigo:hover, &.indigo:focus {
    color: $color-indigo-hover;
  }

  &.blue:hover, &.blue:focus {
    color: $color-blue-hover;
  }

  &.light-blue:hover, &.light-blue:focus {
    color: $color-light-blue-hover;
  }

  &.cyan:hover, &.cyan:focus {
    color: $color-cyan-hover;
  }

  &.teal:hover, &.teal:focus {
    color: $color-teal-hover;
  }

  &.green:hover, &.green:focus {
    color: $color-green-hover;
  }

  &.light-green:hover, &.light-green:focus {
    color: $color-light-green-hover;
  }

  &.lime:hover, &.lime:focus {
    color: $color-lime-hover;
  }

  &.yellow:hover, &.yellow:focus {
    color: $color-yellow-hover;
  }

  &.amber:hover, &.amber:focus {
    color: $color-amber-hover;
  }

  &.orange:hover, &.orange:focus {
    color: $color-orange-hover;
  }

  &.deep-orange:hover, &.deep-orange:focus {
    color: $color-deep-orange-hover;
  }

  &.brown:hover, &.brown:focus {
    color: $color-brown;
  }

  &.grey:hover, &.grey:focus {
    color: $color-grey-hover;
  }

  &.blue-grey:hover, &.blue-grey:focus {
    color: $color-blue-grey-hover;
  }
}

//responsive

@media (max-width: 1199px) {

  a.hover {
    &.underline-lg {
      text-decoration: underline;
    }

    &.white-lg:hover, &.white-lg:focus {
      color: $white;
    }

    &.black-lg:hover, &.black-lg:focus {
      color: $black;
    }

    &.red-lg:hover, &.red-lg:focus {
      color: $color-red-hover;
    }

    &.pink-lg:hover, &.pink-lg:focus {
      color: $color-pink-hover;
    }

    &.purple-lg:hover, &.purple-lg:focus {
      color: $color-purple-hover;
    }

    &.deep-purple-lg:hover, &.deep-purple-lg:focus {
      color: $color-deep-purple-hover;
    }

    &.indigo-lg:hover, &.indigo-lg:focus {
      color: $color-indigo-hover;
    }

    &.blue-lg:hover, &.blue-lg:focus {
      color: $color-blue-hover;
    }

    &.light-blue-lg:hover, &.light-blue-lg:focus {
      color: $color-light-blue-hover;
    }

    &.cyan-lg:hover, &.cyan-lg:focus {
      color: $color-cyan-hover;
    }

    &.teal-lg:hover, &.teal-lg:focus {
      color: $color-teal-hover;
    }

    &.green-lg:hover, &.green-lg:focus {
      color: $color-green-hover;
    }

    &.light-green-lg:hover, &.light-green-lg:focus {
      color: $color-light-green-hover;
    }

    &.lime-lg:hover, &.lime-lg:focus {
      color: $color-lime-hover;
    }

    &.yellow-lg:hover, &.yellow-lg:focus {
      color: $color-yellow-hover;
    }

    &.amber-lg:hover, &.amber-lg:focus {
      color: $color-amber-hover;
    }

    &.orange-lg:hover, &.orange-lg:focus {
      color: $color-orange-hover;
    }

    &.deep-orange-lg:hover, &.deep-orange-lg:focus {
      color: $color-deep-orange-hover;
    }

    &.brown-lg:hover, &.brown-lg:focus {
      color: $color-brown;
    }

    &.grey-lg:hover, &.grey-lg:focus {
      color: $color-grey-hover;
    }

    &.blue-grey-lg:hover, &.blue-grey-lg:focus {
      color: $color-blue-grey-hover;
    }
  }

}

@media (max-width: 991px) {

  a.hover {
    &.underline-md {
      text-decoration: underline;
    }

    &.white-md:hover, &.white-md:focus {
      color: $white;
    }

    &.black-md:hover, &.black-md:focus {
      color: $black;
    }

    &.red-md:hover, &.red-md:focus {
      color: $color-red-hover;
    }

    &.pink-md:hover, &.pink-md:focus {
      color: $color-pink-hover;
    }

    &.purple-md:hover, &.purple-md:focus {
      color: $color-purple-hover;
    }

    &.deep-purple-md:hover, &.deep-purple-md:focus {
      color: $color-deep-purple-hover;
    }

    &.indigo-md:hover, &.indigo-md:focus {
      color: $color-indigo-hover;
    }

    &.blue-md:hover, &.blue-md:focus {
      color: $color-blue-hover;
    }

    &.light-blue-md:hover, &.light-blue-md:focus {
      color: $color-light-blue-hover;
    }

    &.cyan-md:hover, &.cyan-md:focus {
      color: $color-cyan-hover;
    }

    &.teal-md:hover, &.teal-md:focus {
      color: $color-teal-hover;
    }

    &.green-md:hover, &.green-md:focus {
      color: $color-green-hover;
    }

    &.light-green-md:hover, &.light-green-md:focus {
      color: $color-light-green-hover;
    }

    &.lime-md:hover, &.lime-md:focus {
      color: $color-lime-hover;
    }

    &.yellow-md:hover, &.yellow-md:focus {
      color: $color-yellow-hover;
    }

    &.amber-md:hover, &.amber-md:focus {
      color: $color-amber-hover;
    }

    &.orange-md:hover, &.orange-md:focus {
      color: $color-orange-hover;
    }

    &.deep-orange-md:hover, &.deep-orange-md:focus {
      color: $color-deep-orange-hover;
    }

    &.brown-md:hover, &.brown-md:focus {
      color: $color-brown;
    }

    &.grey-md:hover, &.grey-md:focus {
      color: $color-grey-hover;
    }

    &.blue-grey-md:hover, &.blue-grey-md:focus {
      color: $color-blue-grey-hover;
    }
  }

}

@media (max-width: 767px) {

  a.hover {
    &.underline-sm {
      text-decoration: underline;
    }

    &.white-sm:hover, &.white-sm:focus {
      color: $white;
    }

    &.black-sm:hover, &.black-sm:focus {
      color: $black;
    }

    &.red-sm:hover, &.red-sm:focus {
      color: $color-red-hover;
    }

    &.pink-sm:hover, &.pink-sm:focus {
      color: $color-pink-hover;
    }

    &.purple-sm:hover, &.purple-sm:focus {
      color: $color-purple-hover;
    }

    &.deep-purple-sm:hover, &.deep-purple-sm:focus {
      color: $color-deep-purple-hover;
    }

    &.indigo-sm:hover, &.indigo-sm:focus {
      color: $color-indigo-hover;
    }

    &.blue-sm:hover, &.blue-sm:focus {
      color: $color-blue-hover;
    }

    &.light-blue-sm:hover, &.light-blue-sm:focus {
      color: $color-light-blue-hover;
    }

    &.cyan-sm:hover, &.cyan-sm:focus {
      color: $color-cyan-hover;
    }

    &.teal-sm:hover, &.teal-sm:focus {
      color: $color-teal-hover;
    }

    &.green-sm:hover, &.green-sm:focus {
      color: $color-green-hover;
    }

    &.light-green-sm:hover, &.light-green-sm:focus {
      color: $color-light-green-hover;
    }

    &.lime-sm:hover, &.lime-sm:focus {
      color: $color-lime-hover;
    }

    &.yellow-sm:hover, &.yellow-sm:focus {
      color: $color-yellow-hover;
    }

    &.amber-sm:hover, &.amber-sm:focus {
      color: $color-amber-hover;
    }

    &.orange-sm:hover, &.orange-sm:focus {
      color: $color-orange-hover;
    }

    &.deep-orange-sm:hover, &.deep-orange-sm:focus {
      color: $color-deep-orange-hover;
    }

    &.brown-sm:hover, &.brown-sm:focus {
      color: $color-brown;
    }

    &.grey-sm:hover, &.grey-sm:focus {
      color: $color-grey-hover;
    }

    &.blue-grey-sm:hover, &.blue-grey-sm:focus {
      color: $color-blue-grey-hover;
    }
  }

}

@media (max-width: 479px) {

  a.hover {
    &.underline-xs {
      text-decoration: underline;
    }

    &.white-xs:hover, &.white-xs:focus {
      color: $white;
    }

    &.black-xs:hover, &.black-xs:focus {
      color: $black;
    }

    &.red-xs:hover, &.red-xs:focus {
      color: $color-red-hover;
    }

    &.pink-xs:hover, &.pink-xs:focus {
      color: $color-pink-hover;
    }

    &.purple-xs:hover, &.purple-xs:focus {
      color: $color-purple-hover;
    }

    &.deep-purple-xs:hover, &.deep-purple-xs:focus {
      color: $color-deep-purple-hover;
    }

    &.indigo-xs:hover, &.indigo-xs:focus {
      color: $color-indigo-hover;
    }

    &.blue-xs:hover, &.blue-xs:focus {
      color: $color-blue-hover;
    }

    &.light-blue-xs:hover, &.light-blue-xs:focus {
      color: $color-light-blue-hover;
    }

    &.cyan-xs:hover, &.cyan-xs:focus {
      color: $color-cyan-hover;
    }

    &.teal-xs:hover, &.teal-xs:focus {
      color: $color-teal-hover;
    }

    &.green-xs:hover, &.green-xs:focus {
      color: $color-green-hover;
    }

    &.light-green-xs:hover, &.light-green-xs:focus {
      color: $color-light-green-hover;
    }

    &.lime-xs:hover, &.lime-xs:focus {
      color: $color-lime-hover;
    }

    &.yellow-xs:hover, &.yellow-xs:focus {
      color: $color-yellow-hover;
    }

    &.amber-xs:hover, &.amber-xs:focus {
      color: $color-amber-hover;
    }

    &.orange-xs:hover, &.orange-xs:focus {
      color: $color-orange-hover;
    }

    &.deep-orange-xs:hover, &.deep-orange-xs:focus {
      color: $color-deep-orange-hover;
    }

    &.brown-xs:hover, &.brown-xs:focus {
      color: $color-brown;
    }

    &.grey-xs:hover, &.grey-xs:focus {
      color: $color-grey-hover;
    }

    &.blue-grey-xs:hover, &.blue-grey-xs:focus {
      color: $color-blue-grey-hover;
    }
  }

}

@media (max-width: 319px) {}