//list

.list {
  padding-left: 15px;

  &.box > li {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid $color-ddd;
    background-color: $white;

    & + li {
      margin-top: 10px;
    }
  }

  &.#{$solid} > li {
    padding: 10px 0;
    border-bottom: 1px solid $color-ddd;
  }

  &.#{$dashed} > li {
    padding: 10px 0;
    border-bottom: 1px dashed $color-ddd;
  }

  &.#{$dotted} > li {
    padding: 10px 0;
    border-bottom: 1px dotted $color-ddd;
  }
}

.horizontal {
  > li {
    width: auto;
    float: left;
  }

  &.space > li + li {
    margin-left: 15px;
  }
}

.vertical {
  > li {
    width: 100%;
    float: left;
  }

  &.space > li + li {
    margin-top: 5px;
  }
}

.list {
  &.#{$solid} > li:last-child,
  &.#{$dashed} > li:last-child,
  &.#{$dotted} > li:last-child {
    border-bottom: none;
  }
}

//list link color

.red > li > a {
  color: $color-red;
}

.pink > li > a {
  color: $color-pink;
}

.purple > li > a {
  color: $color-purple;
}

.deep-purple > li > a {
  color: $color-deep-purple;
}

.indigo > li > a {
  color: $color-indigo;
}

.blue > li > a {
  color: $color-blue;
}

.light-blue > li > a {
  color: $color-light-blue;
}

.cyan > li > a {
  color: $color-cyan;
}

.teal > li > a {
  color: $color-teal;
}

.green > li > a {
  color: $color-green;
}

.light-green > li > a {
  color: $color-light-green;
}

.lime > li > a {
  color: $color-lime;
}

.yellow > li > a {
  color: $color-yellow;
}

.amber > li > a {
  color: $color-amber;
}

.orange > li > a {
  color: $color-orange;
}

.deep-orange > li > a {
  color: $color-deep-orange;
}

.brown > li > a {
  color: $color-brown;
}

.grey > li > a {
  color: $color-grey;
}

.blue-grey > li > a {
  color: $color-blue-grey;
}

//list.hover color

.hover {
  &.red > li > a:hover,
  &.red > li > a:focus {
    color: $color-red-hover;
  }

  &.pink > li > a:hover,
  &.pink > li > a:focus {
    color: $color-pink-hover;
  }

  &.purple > li > a:hover,
  &.purple > li > a:focus {
    color: $color-purple-hover;
  }

  &.deep-purple > li > a:hover,
  &.deep-purple > li > a:focus {
    color: $color-deep-purple-hover;
  }

  &.indigo > li > a:hover,
  &.indigo > li > a:focus {
    color: $color-indigo-hover;
  }

  &.blue > li > a:hover,
  &.blue > li > a:focus {
    color: $color-blue-hover;
  }

  &.light-blue > li > a:hover,
  &.light-blue > li > a:focus {
    color: $color-light-blue-hover;
  }

  &.cyan > li > a:hover,
  &.cyan > li > a:focus {
    color: $color-cyan-hover;
  }

  &.teal > li > a:hover,
  &.teal > li > a:focus {
    color: $color-teal-hover;
  }

  &.green > li > a:hover,
  &.green > li > a:focus {
    color: $color-green-hover;
  }

  &.light-green > li > a:hover,
  &.light-green > li > a:focus {
    color: $color-light-green-hover;
  }

  &.lime > li > a:hover,
  &.lime > li > a:focus {
    color: $color-lime-hover;
  }

  &.yellow > li > a:hover,
  &.yellow > li > a:focus {
    color: $color-yellow-hover;
  }

  &.amber > li > a:hover,
  &.amber > li > a:focus {
    color: $color-amber-hover;
  }

  &.orange > li > a:hover,
  &.orange > li > a:focus {
    color: $color-orange-hover;
  }

  &.deep-orange > li > a:hover,
  &.deep-orange > li > a:focus {
    color: $color-deep-orange-hover;
  }

  &.brown > li > a:hover,
  &.brown > li > a:focus {
    color: $color-brown-hover;
  }

  &.grey > li > a:hover,
  &.grey > li > a:focus {
    color: $color-grey-hover;
  }

  &.blue-grey > li > a:hover,
  &.blue-grey > li > a:focus {
    color: $color-blue-grey-hover;
  }
}

//list-style-type

.disc {
  list-style-type: disc;
}

.circle {
  list-style-type: circle;
}

.square {
  list-style-type: square;
}

.decimal {
  list-style-type: decimal;
}

.decimal-leading-zero {
  list-style-type: decimal-leading-zero;
}

.lower-roman {
  list-style-type: lower-roman;
}

.upper-roman {
  list-style-type: upper-roman;
}

.lower-alpha {
  list-style-type: lower-alpha;
}

.upper-alpha {
  list-style-type: upper-alpha;
}

.lower-greek {
  list-style-type: lower-greek;
}

.lower-latin {
  list-style-type: lower-latin;
}

.upper-latin {
  list-style-type: upper-latin;
}

.hebrew {
  list-style-type: hebrew;
}

.armenian {
  list-style-type: armenian;
}

.georgian {
  list-style-type: georgian;
}

.cjk-ideographic {
  list-style-type: cjk-ideographic;
}

.hiragana {
  list-style-type: hiragana;
}

.katakana {
  list-style-type: katakana;
}

.hiragana-iroha {
  list-style-type: hiragana-iroha;
}

.katakana-iroha {
  list-style-type: katakana-iroha;
}

.list-reset {
  list-style: none;
  padding: 0;
}

//responsive

@media (max-width: 1199px) {

  .list {

    &.box-lg > li {
      padding: 5px;
      border-radius: 4px;
      border: 1px solid $color-ddd;
      background-color: $white;
    }

    &.#{$solid}-lg > li {
      padding: 10px 0;
      border-bottom: 1px solid $color-ddd;
    }

    &.#{$dashed}-lg > li {
      padding: 10px 0;
      border-bottom: 1px dashed $color-ddd;
    }

    &.#{$dotted}-lg > li {
      padding: 10px 0;
      border-bottom: 1px dotted $color-ddd;
    }
  }

  .horizontal-lg {
    > li {
      width: auto;
      float: left;
    }
  }

  .vertical-lg {
    > li {
      width: 100%;
      float: left;
    }
  }

  .red-lg > li > a {
    color: $color-red;
  }

  .pink-lg > li > a {
    color: $color-pink;
  }

  .purple-lg > li > a {
    color: $color-purple;
  }

  .deep-purple-lg > li > a {
    color: $color-deep-purple;
  }

  .indigo-lg > li > a {
    color: $color-indigo;
  }

  .blue-lg > li > a {
    color: $color-blue;
  }

  .light-blue-lg > li > a {
    color: $color-light-blue;
  }

  .cyan-lg > li > a {
    color: $color-cyan;
  }

  .teal-lg > li > a {
    color: $color-teal;
  }

  .green-lg > li > a {
    color: $color-green;
  }

  .light-green-lg > li > a {
    color: $color-light-green;
  }

  .lime-lg > li > a {
    color: $color-lime;
  }

  .yellow-lg > li > a {
    color: $color-yellow;
  }

  .amber-lg > li > a {
    color: $color-amber;
  }

  .orange-lg > li > a {
    color: $color-orange;
  }

  .deep-orange-lg > li > a {
    color: $color-deep-orange;
  }

  .brown-lg > li > a {
    color: $color-brown;
  }

  .grey-lg > li > a {
    color: $color-grey;
  }

  .blue-grey-lg > li > a {
    color: $color-blue-grey;
  }

  .hover {
    &.red-lg > li > a:hover,
    &.red-lg > li > a:focus {
      color: $color-red-hover;
    }

    &.pink-lg > li > a:hover,
    &.pink-lg > li > a:focus {
      color: $color-pink-hover;
    }

    &.purple-lg > li > a:hover,
    &.purple-lg > li > a:focus {
      color: $color-purple-hover;
    }

    &.deep-purple-lg > li > a:hover,
    &.deep-purple-lg > li > a:focus {
      color: $color-deep-purple-hover;
    }

    &.indigo-lg > li > a:hover,
    &.indigo-lg > li > a:focus {
      color: $color-indigo-hover;
    }

    &.blue-lg > li > a:hover,
    &.blue-lg > li > a:focus {
      color: $color-blue-hover;
    }

    &.light-blue-lg > li > a:hover,
    &.light-blue-lg > li > a:focus {
      color: $color-light-blue-hover;
    }

    &.cyan-lg > li > a:hover,
    &.cyan-lg > li > a:focus {
      color: $color-cyan-hover;
    }

    &.teal-lg > li > a:hover,
    &.teal-lg > li > a:focus {
      color: $color-teal-hover;
    }

    &.green-lg > li > a:hover,
    &.green-lg > li > a:focus {
      color: $color-green-hover;
    }

    &.light-green-lg > li > a:hover,
    &.light-green-lg > li > a:focus {
      color: $color-light-green-hover;
    }

    &.lime-lg > li > a:hover,
    &.lime-lg > li > a:focus {
      color: $color-lime-hover;
    }

    &.yellow-lg > li > a:hover,
    &.yellow-lg > li > a:focus {
      color: $color-yellow-hover;
    }

    &.amber-lg > li > a:hover,
    &.amber-lg > li > a:focus {
      color: $color-amber-hover;
    }

    &.orange-lg > li > a:hover,
    &.orange-lg > li > a:focus {
      color: $color-orange-hover;
    }

    &.deep-orange-lg > li > a:hover,
    &.deep-orange-lg > li > a:focus {
      color: $color-deep-orange-hover;
    }

    &.brown-lg > li > a:hover,
    &.brown-lg > li > a:focus {
      color: $color-brown-hover;
    }

    &.grey-lg > li > a:hover,
    &.grey-lg > li > a:focus {
      color: $color-grey-hover;
    }

    &.blue-grey-lg > li > a:hover,
    &.blue-grey-lg > li > a:focus {
      color: $color-blue-grey-hover;
    }
  }

  .disc-lg {
    list-style-type: disc;
  }

  .circle-lg {
    list-style-type: circle;
  }

  .square-lg {
    list-style-type: square;
  }

  .decimal-lg {
    list-style-type: decimal;
  }

  .decimal-leading-zero-lg {
    list-style-type: decimal-leading-zero;
  }

  .lower-roman-lg {
    list-style-type: lower-roman;
  }

  .upper-roman-lg {
    list-style-type: upper-roman;
  }

  .lower-alpha-lg {
    list-style-type: lower-alpha;
  }

  .upper-alpha-lg {
    list-style-type: upper-alpha;
  }

  .lower-greek-lg {
    list-style-type: lower-greek;
  }

  .lower-latin-lg {
    list-style-type: lower-latin;
  }

  .upper-latin-lg {
    list-style-type: upper-latin;
  }

  .hebrew-lg {
    list-style-type: hebrew;
  }

  .armenian-lg {
    list-style-type: armenian;
  }

  .georgian-lg {
    list-style-type: georgian;
  }

  .cjk-ideographic-lg {
    list-style-type: cjk-ideographic;
  }

  .hiragana-lg {
    list-style-type: hiragana;
  }

  .katakana-lg {
    list-style-type: katakana;
  }

  .hiragana-iroha-lg {
    list-style-type: hiragana-iroha;
  }

  .katakana-iroha-lg {
    list-style-type: katakana-iroha;
  }

  .list-reset-lg {
    list-style: none;
    padding: 0;
  }

}

@media (max-width: 991px) {

  .list {

    &.box-md > li {
      padding: 5px;
      border-radius: 4px;
      border: 1px solid $color-ddd;
      background-color: $white;
    }

    &.#{$solid}-md > li {
      padding: 10px 0;
      border-bottom: 1px solid $color-ddd;
    }

    &.#{$dashed}-md > li {
      padding: 10px 0;
      border-bottom: 1px dashed $color-ddd;
    }

    &.#{$dotted}-md > li {
      padding: 10px 0;
      border-bottom: 1px dotted $color-ddd;
    }
  }

  .horizontal-md {
    > li {
      width: auto;
      float: left;
    }
  }

  .vertical-md {
    > li {
      width: 100%;
      float: left;
    }
  }

  .red-md > li > a {
    color: $color-red;
  }

  .pink-md > li > a {
    color: $color-pink;
  }

  .purple-md > li > a {
    color: $color-purple;
  }

  .deep-purple-md > li > a {
    color: $color-deep-purple;
  }

  .indigo-md > li > a {
    color: $color-indigo;
  }

  .blue-md > li > a {
    color: $color-blue;
  }

  .light-blue-md > li > a {
    color: $color-light-blue;
  }

  .cyan-md > li > a {
    color: $color-cyan;
  }

  .teal-md > li > a {
    color: $color-teal;
  }

  .green-md > li > a {
    color: $color-green;
  }

  .light-green-md > li > a {
    color: $color-light-green;
  }

  .lime-md > li > a {
    color: $color-lime;
  }

  .yellow-md > li > a {
    color: $color-yellow;
  }

  .amber-md > li > a {
    color: $color-amber;
  }

  .orange-md > li > a {
    color: $color-orange;
  }

  .deep-orange-md > li > a {
    color: $color-deep-orange;
  }

  .brown-md > li > a {
    color: $color-brown;
  }

  .grey-md > li > a {
    color: $color-grey;
  }

  .blue-grey-md > li > a {
    color: $color-blue-grey;
  }

  .hover {
    &.red-md > li > a:hover,
    &.red-md > li > a:focus {
      color: $color-red-hover;
    }

    &.pink-md > li > a:hover,
    &.pink-md > li > a:focus {
      color: $color-pink-hover;
    }

    &.purple-md > li > a:hover,
    &.purple-md > li > a:focus {
      color: $color-purple-hover;
    }

    &.deep-purple-md > li > a:hover,
    &.deep-purple-md > li > a:focus {
      color: $color-deep-purple-hover;
    }

    &.indigo-md > li > a:hover,
    &.indigo-md > li > a:focus {
      color: $color-indigo-hover;
    }

    &.blue-md > li > a:hover,
    &.blue-md > li > a:focus {
      color: $color-blue-hover;
    }

    &.light-blue-md > li > a:hover,
    &.light-blue-md > li > a:focus {
      color: $color-light-blue-hover;
    }

    &.cyan-md > li > a:hover,
    &.cyan-md > li > a:focus {
      color: $color-cyan-hover;
    }

    &.teal-md > li > a:hover,
    &.teal-md > li > a:focus {
      color: $color-teal-hover;
    }

    &.green-md > li > a:hover,
    &.green-md > li > a:focus {
      color: $color-green-hover;
    }

    &.light-green-md > li > a:hover,
    &.light-green-md > li > a:focus {
      color: $color-light-green-hover;
    }

    &.lime-md > li > a:hover,
    &.lime-md > li > a:focus {
      color: $color-lime-hover;
    }

    &.yellow-md > li > a:hover,
    &.yellow-md > li > a:focus {
      color: $color-yellow-hover;
    }

    &.amber-md > li > a:hover,
    &.amber-md > li > a:focus {
      color: $color-amber-hover;
    }

    &.orange-md > li > a:hover,
    &.orange-md > li > a:focus {
      color: $color-orange-hover;
    }

    &.deep-orange-md > li > a:hover,
    &.deep-orange-md > li > a:focus {
      color: $color-deep-orange-hover;
    }

    &.brown-md > li > a:hover,
    &.brown-md > li > a:focus {
      color: $color-brown-hover;
    }

    &.grey-md > li > a:hover,
    &.grey-md > li > a:focus {
      color: $color-grey-hover;
    }

    &.blue-grey-md > li > a:hover,
    &.blue-grey-md > li > a:focus {
      color: $color-blue-grey-hover;
    }
  }

  .disc-md {
    list-style-type: disc;
  }

  .circle-md {
    list-style-type: circle;
  }

  .square-md {
    list-style-type: square;
  }

  .decimal-md {
    list-style-type: decimal;
  }

  .decimal-leading-zero-md {
    list-style-type: decimal-leading-zero;
  }

  .lower-roman-md {
    list-style-type: lower-roman;
  }

  .upper-roman-md {
    list-style-type: upper-roman;
  }

  .lower-alpha-md {
    list-style-type: lower-alpha;
  }

  .upper-alpha-md {
    list-style-type: upper-alpha;
  }

  .lower-greek-md {
    list-style-type: lower-greek;
  }

  .lower-latin-md {
    list-style-type: lower-latin;
  }

  .upper-latin-md {
    list-style-type: upper-latin;
  }

  .hebrew-md {
    list-style-type: hebrew;
  }

  .armenian-md {
    list-style-type: armenian;
  }

  .georgian-md {
    list-style-type: georgian;
  }

  .cjk-ideographic-md {
    list-style-type: cjk-ideographic;
  }

  .hiragana-md {
    list-style-type: hiragana;
  }

  .katakana-md {
    list-style-type: katakana;
  }

  .hiragana-iroha-md {
    list-style-type: hiragana-iroha;
  }

  .katakana-iroha-md {
    list-style-type: katakana-iroha;
  }

  .list-reset-md {
    list-style: none;
    padding: 0;
  }

}

@media (max-width: 767px) {

  .list {

    &.box-sm > li {
      padding: 5px;
      border-radius: 4px;
      border: 1px solid $color-ddd;
      background-color: $white;
    }

    &.#{$solid}-sm > li {
      padding: 10px 0;
      border-bottom: 1px solid $color-ddd;
    }

    &.#{$dashed}-sm > li {
      padding: 10px 0;
      border-bottom: 1px dashed $color-ddd;
    }

    &.#{$dotted}-sm > li {
      padding: 10px 0;
      border-bottom: 1px dotted $color-ddd;
    }
  }

  .horizontal-sm {
    > li {
      width: auto;
      float: left;
    }
  }

  .vertical-sm {
    > li {
      width: 100%;
      float: left;
    }
  }

  .red-sm > li > a {
    color: $color-red;
  }

  .pink-sm > li > a {
    color: $color-pink;
  }

  .purple-sm > li > a {
    color: $color-purple;
  }

  .deep-purple-sm > li > a {
    color: $color-deep-purple;
  }

  .indigo-sm > li > a {
    color: $color-indigo;
  }

  .blue-sm > li > a {
    color: $color-blue;
  }

  .light-blue-sm > li > a {
    color: $color-light-blue;
  }

  .cyan-sm > li > a {
    color: $color-cyan;
  }

  .teal-sm > li > a {
    color: $color-teal;
  }

  .green-sm > li > a {
    color: $color-green;
  }

  .light-green-sm > li > a {
    color: $color-light-green;
  }

  .lime-sm > li > a {
    color: $color-lime;
  }

  .yellow-sm > li > a {
    color: $color-yellow;
  }

  .amber-sm > li > a {
    color: $color-amber;
  }

  .orange-sm > li > a {
    color: $color-orange;
  }

  .deep-orange-sm > li > a {
    color: $color-deep-orange;
  }

  .brown-sm > li > a {
    color: $color-brown;
  }

  .grey-sm > li > a {
    color: $color-grey;
  }

  .blue-grey-sm > li > a {
    color: $color-blue-grey;
  }

  .hover {
    &.red-sm > li > a:hover,
    &.red-sm > li > a:focus {
      color: $color-red-hover;
    }

    &.pink-sm > li > a:hover,
    &.pink-sm > li > a:focus {
      color: $color-pink-hover;
    }

    &.purple-sm > li > a:hover,
    &.purple-sm > li > a:focus {
      color: $color-purple-hover;
    }

    &.deep-purple-sm > li > a:hover,
    &.deep-purple-sm > li > a:focus {
      color: $color-deep-purple-hover;
    }

    &.indigo-sm > li > a:hover,
    &.indigo-sm > li > a:focus {
      color: $color-indigo-hover;
    }

    &.blue-sm > li > a:hover,
    &.blue-sm > li > a:focus {
      color: $color-blue-hover;
    }

    &.light-blue-sm > li > a:hover,
    &.light-blue-sm > li > a:focus {
      color: $color-light-blue-hover;
    }

    &.cyan-sm > li > a:hover,
    &.cyan-sm > li > a:focus {
      color: $color-cyan-hover;
    }

    &.teal-sm > li > a:hover,
    &.teal-sm > li > a:focus {
      color: $color-teal-hover;
    }

    &.green-sm > li > a:hover,
    &.green-sm > li > a:focus {
      color: $color-green-hover;
    }

    &.light-green-sm > li > a:hover,
    &.light-green-sm > li > a:focus {
      color: $color-light-green-hover;
    }

    &.lime-sm > li > a:hover,
    &.lime-sm > li > a:focus {
      color: $color-lime-hover;
    }

    &.yellow-sm > li > a:hover,
    &.yellow-sm > li > a:focus {
      color: $color-yellow-hover;
    }

    &.amber-sm > li > a:hover,
    &.amber-sm > li > a:focus {
      color: $color-amber-hover;
    }

    &.orange-sm > li > a:hover,
    &.orange-sm > li > a:focus {
      color: $color-orange-hover;
    }

    &.deep-orange-sm > li > a:hover,
    &.deep-orange-sm > li > a:focus {
      color: $color-deep-orange-hover;
    }

    &.brown-sm > li > a:hover,
    &.brown-sm > li > a:focus {
      color: $color-brown-hover;
    }

    &.grey-sm > li > a:hover,
    &.grey-sm > li > a:focus {
      color: $color-grey-hover;
    }

    &.blue-grey-sm > li > a:hover,
    &.blue-grey-sm > li > a:focus {
      color: $color-blue-grey-hover;
    }
  }

  .disc-sm {
    list-style-type: disc;
  }

  .circle-sm {
    list-style-type: circle;
  }

  .square-sm {
    list-style-type: square;
  }

  .decimal-sm {
    list-style-type: decimal;
  }

  .decimal-leading-zero-sm {
    list-style-type: decimal-leading-zero;
  }

  .lower-roman-sm {
    list-style-type: lower-roman;
  }

  .upper-roman-sm {
    list-style-type: upper-roman;
  }

  .lower-alpha-sm {
    list-style-type: lower-alpha;
  }

  .upper-alpha-sm {
    list-style-type: upper-alpha;
  }

  .lower-greek-sm {
    list-style-type: lower-greek;
  }

  .lower-latin-sm {
    list-style-type: lower-latin;
  }

  .upper-latin-sm {
    list-style-type: upper-latin;
  }

  .hebrew-sm {
    list-style-type: hebrew;
  }

  .armenian-sm {
    list-style-type: armenian;
  }

  .georgian-sm {
    list-style-type: georgian;
  }

  .cjk-ideographic-sm {
    list-style-type: cjk-ideographic;
  }

  .hiragana-sm {
    list-style-type: hiragana;
  }

  .katakana-sm {
    list-style-type: katakana;
  }

  .hiragana-iroha-sm {
    list-style-type: hiragana-iroha;
  }

  .katakana-iroha-sm {
    list-style-type: katakana-iroha;
  }

  .list-reset-sm {
    list-style: none;
    padding: 0;
  }

}

@media (max-width: 479px) {

  .list {

    &.box-xs > li {
      padding: 5px;
      border-radius: 4px;
      border: 1px solid $color-ddd;
      background-color: $white;
    }

    &.#{$solid}-xs > li {
      padding: 10px 0;
      border-bottom: 1px solid $color-ddd;
    }

    &.#{$dashed}-xs > li {
      padding: 10px 0;
      border-bottom: 1px dashed $color-ddd;
    }

    &.#{$dotted}-xs > li {
      padding: 10px 0;
      border-bottom: 1px dotted $color-ddd;
    }
  }

  .horizontal-xs {
    > li {
      width: auto;
      float: left;
    }
  }

  .vertical-xs {
    > li {
      width: 100%;
      float: left;
    }
  }

  .red-xs > li > a {
    color: $color-red;
  }

  .pink-xs > li > a {
    color: $color-pink;
  }

  .purple-xs > li > a {
    color: $color-purple;
  }

  .deep-purple-xs > li > a {
    color: $color-deep-purple;
  }

  .indigo-xs > li > a {
    color: $color-indigo;
  }

  .blue-xs > li > a {
    color: $color-blue;
  }

  .light-blue-xs > li > a {
    color: $color-light-blue;
  }

  .cyan-xs > li > a {
    color: $color-cyan;
  }

  .teal-xs > li > a {
    color: $color-teal;
  }

  .green-xs > li > a {
    color: $color-green;
  }

  .light-green-xs > li > a {
    color: $color-light-green;
  }

  .lime-xs > li > a {
    color: $color-lime;
  }

  .yellow-xs > li > a {
    color: $color-yellow;
  }

  .amber-xs > li > a {
    color: $color-amber;
  }

  .orange-xs > li > a {
    color: $color-orange;
  }

  .deep-orange-xs > li > a {
    color: $color-deep-orange;
  }

  .brown-xs > li > a {
    color: $color-brown;
  }

  .grey-xs > li > a {
    color: $color-grey;
  }

  .blue-grey-xs > li > a {
    color: $color-blue-grey;
  }

  .hover {
    &.red-xs > li > a:hover,
    &.red-xs > li > a:focus {
      color: $color-red-hover;
    }

    &.pink-xs > li > a:hover,
    &.pink-xs > li > a:focus {
      color: $color-pink-hover;
    }

    &.purple-xs > li > a:hover,
    &.purple-xs > li > a:focus {
      color: $color-purple-hover;
    }

    &.deep-purple-xs > li > a:hover,
    &.deep-purple-xs > li > a:focus {
      color: $color-deep-purple-hover;
    }

    &.indigo-xs > li > a:hover,
    &.indigo-xs > li > a:focus {
      color: $color-indigo-hover;
    }

    &.blue-xs > li > a:hover,
    &.blue-xs > li > a:focus {
      color: $color-blue-hover;
    }

    &.light-blue-xs > li > a:hover,
    &.light-blue-xs > li > a:focus {
      color: $color-light-blue-hover;
    }

    &.cyan-xs > li > a:hover,
    &.cyan-xs > li > a:focus {
      color: $color-cyan-hover;
    }

    &.teal-xs > li > a:hover,
    &.teal-xs > li > a:focus {
      color: $color-teal-hover;
    }

    &.green-xs > li > a:hover,
    &.green-xs > li > a:focus {
      color: $color-green-hover;
    }

    &.light-green-xs > li > a:hover,
    &.light-green-xs > li > a:focus {
      color: $color-light-green-hover;
    }

    &.lime-xs > li > a:hover,
    &.lime-xs > li > a:focus {
      color: $color-lime-hover;
    }

    &.yellow-xs > li > a:hover,
    &.yellow-xs > li > a:focus {
      color: $color-yellow-hover;
    }

    &.amber-xs > li > a:hover,
    &.amber-xs > li > a:focus {
      color: $color-amber-hover;
    }

    &.orange-xs > li > a:hover,
    &.orange-xs > li > a:focus {
      color: $color-orange-hover;
    }

    &.deep-orange-xs > li > a:hover,
    &.deep-orange-xs > li > a:focus {
      color: $color-deep-orange-hover;
    }

    &.brown-xs > li > a:hover,
    &.brown-xs > li > a:focus {
      color: $color-brown-hover;
    }

    &.grey-xs > li > a:hover,
    &.grey-xs > li > a:focus {
      color: $color-grey-hover;
    }

    &.blue-grey-xs > li > a:hover,
    &.blue-grey-xs > li > a:focus {
      color: $color-blue-grey-hover;
    }
  }

  .disc-xs {
    list-style-type: disc;
  }

  .circle-xs {
    list-style-type: circle;
  }

  .square-xs {
    list-style-type: square;
  }

  .decimal-xs {
    list-style-type: decimal;
  }

  .decimal-leading-zero-xs {
    list-style-type: decimal-leading-zero;
  }

  .lower-roman-xs {
    list-style-type: lower-roman;
  }

  .upper-roman-xs {
    list-style-type: upper-roman;
  }

  .lower-alpha-xs {
    list-style-type: lower-alpha;
  }

  .upper-alpha-xs {
    list-style-type: upper-alpha;
  }

  .lower-greek-xs {
    list-style-type: lower-greek;
  }

  .lower-latin-xs {
    list-style-type: lower-latin;
  }

  .upper-latin-xs {
    list-style-type: upper-latin;
  }

  .hebrew-xs {
    list-style-type: hebrew;
  }

  .armenian-xs {
    list-style-type: armenian;
  }

  .georgian-xs {
    list-style-type: georgian;
  }

  .cjk-ideographic-xs {
    list-style-type: cjk-ideographic;
  }

  .hiragana-xs {
    list-style-type: hiragana;
  }

  .katakana-xs {
    list-style-type: katakana;
  }

  .hiragana-iroha-xs {
    list-style-type: hiragana-iroha;
  }

  .katakana-iroha-xs {
    list-style-type: katakana-iroha;
  }

  .list-reset-xs {
    list-style: none;
    padding: 0;
  }

}

@media (max-width: 319px) {}