//transform

//p=positive(正数)
//n=negative(负数)

//rotate

.#{$rotate} {
  &-0 {
    transform: rotate(0);
  }

  &-180 {
    transform: rotate(180deg);
  }

  &-p5 {
    transform: rotate(5deg);
  }

  &-p10 {
    transform: rotate(10deg);
  }

  &-p15 {
    transform: rotate(15deg);
  }

  &-p20 {
    transform: rotate(20deg);
  }

  &-p25 {
    transform: rotate(25deg);
  }

  &-p30 {
    transform: rotate(30deg);
  }

  &-p35 {
    transform: rotate(35deg);
  }

  &-p40 {
    transform: rotate(40deg);
  }

  &-p45 {
    transform: rotate(45deg);
  }

  &-p50 {
    transform: rotate(50deg);
  }

  &-p55 {
    transform: rotate(55deg);
  }

  &-p60 {
    transform: rotate(60deg);
  }

  &-p65 {
    transform: rotate(65deg);
  }

  &-p70 {
    transform: rotate(70deg);
  }

  &-p75 {
    transform: rotate(75deg);
  }

  &-p80 {
    transform: rotate(80deg);
  }

  &-p85 {
    transform: rotate(85deg);
  }

  &-p90 {
    transform: rotate(90deg);
  }

  &-p95 {
    transform: rotate(95deg);
  }

  &-p100 {
    transform: rotate(100deg);
  }

  &-p105 {
    transform: rotate(105deg);
  }

  &-p110 {
    transform: rotate(110deg);
  }

  &-p115 {
    transform: rotate(115deg);
  }

  &-p120 {
    transform: rotate(120deg);
  }

  &-p125 {
    transform: rotate(125deg);
  }

  &-p130 {
    transform: rotate(130deg);
  }

  &-p135 {
    transform: rotate(135deg);
  }

  &-p130 {
    transform: rotate(140deg);
  }

  &-p145 {
    transform: rotate(145deg);
  }

  &-p150 {
    transform: rotate(150deg);
  }

  &-p155 {
    transform: rotate(155deg);
  }

  &-p160 {
    transform: rotate(160deg);
  }

  &-p165 {
    transform: rotate(165deg);
  }

  &-p170 {
    transform: rotate(170deg);
  }

  &-p175 {
    transform: rotate(175deg);
  }

  &-n5 {
    transform: rotate(-5deg);
  }

  &-n10 {
    transform: rotate(-10deg);
  }

  &-n15 {
    transform: rotate(-15deg);
  }

  &-n20 {
    transform: rotate(-20deg);
  }

  &-n25 {
    transform: rotate(-25deg);
  }

  &-n30 {
    transform: rotate(-30deg);
  }

  &-n35 {
    transform: rotate(-35deg);
  }

  &-n40 {
    transform: rotate(-40deg);
  }

  &-n45 {
    transform: rotate(-45deg);
  }

  &-n50 {
    transform: rotate(-50deg);
  }

  &-n55 {
    transform: rotate(-55deg);
  }

  &-n60 {
    transform: rotate(-60deg);
  }

  &-n65 {
    transform: rotate(-65deg);
  }

  &-n70 {
    transform: rotate(-70deg);
  }

  &-n75 {
    transform: rotate(-75deg);
  }

  &-n80 {
    transform: rotate(-80deg);
  }

  &-n85 {
    transform: rotate(-85deg);
  }

  &-n90 {
    transform: rotate(-90deg);
  }

  &-n95 {
    transform: rotate(-95deg);
  }

  &-n100 {
    transform: rotate(-100deg);
  }

  &-n105 {
    transform: rotate(-105deg);
  }

  &-n110 {
    transform: rotate(-110deg);
  }

  &-n115 {
    transform: rotate(-115deg);
  }

  &-n120 {
    transform: rotate(-120deg);
  }

  &-n125 {
    transform: rotate(-125deg);
  }

  &-n130 {
    transform: rotate(-130deg);
  }

  &-n135 {
    transform: rotate(-135deg);
  }

  &-n130 {
    transform: rotate(-140deg);
  }

  &-n145 {
    transform: rotate(-145deg);
  }

  &-n150 {
    transform: rotate(-150deg);
  }

  &-n155 {
    transform: rotate(-155deg);
  }

  &-n160 {
    transform: rotate(-160deg);
  }

  &-n165 {
    transform: rotate(-165deg);
  }

  &-n170 {
    transform: rotate(-170deg);
  }

  &-n175 {
    transform: rotate(-175deg);
  }
}

//scale

.scale {
  transform: scale(1, 1);
}

//responsive

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 479px) {}

@media (max-width: 319px) {}