//owl-theme

.owl-carousel .owl-nav {
  button.owl-next, button.owl-prev {
    color: inherit;
    padding: 2px 12px !important;
    border: 1px solid #ddd;
    background-color: $white;
  }
}

.owl-nav-float .owl-nav {
  position: absolute;
  top: -50px;
  right: -5px;
  margin-top: 0;
}

.owl-theme {
  & .owl-nav [class*=owl-]:hover {
    color: $white;
    border: 1px solid $default-color;
    background: $default-color;
    transition: all .3s ease;
  }

  & .owl-dots .owl-dot {
    .active span, &:hover span {
      background: $default-color;
    }
  }

  &.red {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-red-border;
      background: $color-red-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-red-bg;
      }
    }
  }

  &.pink {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-pink-border;
      background: $color-pink-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-pink-bg;
      }
    }
  }

  &.purple {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-purple-border;
      background: $color-purple-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-purple-bg;
      }
    }
  }

  &.deep-purple {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-deep-purple-border;
      background: $color-deep-purple-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-deep-purple-bg;
      }
    }
  }

  &.indigo {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-indigo-border;
      background: $color-indigo-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-indigo-bg;
      }
    }
  }

  &.blue {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-blue-border;
      background: $color-blue-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-blue-bg;
      }
    }
  }

  &.light-blue {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-light-blue-border;
      background: $color-light-blue-bg;
    }

    &.light-blue .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-light-blue-bg;
      }
    }
  }

  &.cyan {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-cyan-border;
      background: $color-cyan-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-cyan-bg;
      }
    }
  }

  &.teal {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-teal-border;
      background: $color-teal-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-teal-bg;
      }
    }
  }

  &.green {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-green-border;
      background: $color-green-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-green-bg;
      }
    }
  }

  &.light-green {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-light-green-border;
      background: $color-light-green-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-light-green-bg;
      }
    }
  }

  &.lime {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-lime-border;
      background: $color-lime-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-lime-bg;
      }
    }
  }

  &.yellow {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-yellow-border;
      background: $color-yellow-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-yellow-bg;
      }
    }
  }

  &.amber {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-amber-border;
      background: $color-amber-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-amber-bg;
      }
    }
  }

  &.orange {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-orange-border;
      background: $color-orange-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-orange-bg;
      }
    }
  }

  &.deep-orange {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-deep-orange-border;
      background: $color-deep-orange-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-deep-orange-bg;
      }
    }
  }

  &.brown {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-brown-border;
      background: $color-brown-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-brown-bg;
      }
    }
  }

  &.grey {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-grey-border;
      background: $color-grey-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-grey-bg;
      }
    }
  }

  &.blue-grey {
    & .owl-nav [class*=owl-]:hover {
      border: 1px solid $color-blue-grey-border;
      background: $color-blue-grey-bg;
    }

    & .owl-dots .owl-dot {
      &.active span, &:hover span {
        background: $color-blue-grey-bg;
      }
    }
  }
}

//responsive

@media (max-width: 1199px) {

  .owl-theme {
    &.red-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-red-border;
        background: $color-red-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-red-bg;
        }
      }
    }

    &.pink-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-pink-border;
        background: $color-pink-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-pink-bg;
        }
      }
    }

    &.purple-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-purple-border;
        background: $color-purple-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-purple-bg;
        }
      }
    }

    &.deep-purple-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-deep-purple-border;
        background: $color-deep-purple-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-deep-purple-bg;
        }
      }
    }

    &.indigo-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-indigo-border;
        background: $color-indigo-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-indigo-bg;
        }
      }
    }

    &.blue-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-blue-border;
        background: $color-blue-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-blue-bg;
        }
      }
    }

    &.light-blue-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-light-blue-border;
        background: $color-light-blue-bg;
      }

      &.light-blue .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-light-blue-bg;
        }
      }
    }

    &.cyan-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-cyan-border;
        background: $color-cyan-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-cyan-bg;
        }
      }
    }

    &.teal-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-teal-border;
        background: $color-teal-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-teal-bg;
        }
      }
    }

    &.green-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-green-border;
        background: $color-green-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-green-bg;
        }
      }
    }

    &.light-green-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-light-green-border;
        background: $color-light-green-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-light-green-bg;
        }
      }
    }

    &.lime-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-lime-border;
        background: $color-lime-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-lime-bg;
        }
      }
    }

    &.yellow-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-yellow-border;
        background: $color-yellow-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-yellow-bg;
        }
      }
    }

    &.amber-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-amber-border;
        background: $color-amber-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-amber-bg;
        }
      }
    }

    &.orange-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-orange-border;
        background: $color-orange-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-orange-bg;
        }
      }
    }

    &.deep-orange-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-deep-orange-border;
        background: $color-deep-orange-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-deep-orange-bg;
        }
      }
    }

    &.brown-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-brown-border;
        background: $color-brown-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-brown-bg;
        }
      }
    }

    &.grey-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-grey-border;
        background: $color-grey-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-grey-bg;
        }
      }
    }

    &.blue-grey-lg {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-blue-grey-border;
        background: $color-blue-grey-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-blue-grey-bg;
        }
      }
    }
  }

}

@media (max-width: 991px) {

  .owl-theme {
    &.red-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-red-border;
        background: $color-red-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-red-bg;
        }
      }
    }

    &.pink-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-pink-border;
        background: $color-pink-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-pink-bg;
        }
      }
    }

    &.purple-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-purple-border;
        background: $color-purple-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-purple-bg;
        }
      }
    }

    &.deep-purple-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-deep-purple-border;
        background: $color-deep-purple-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-deep-purple-bg;
        }
      }
    }

    &.indigo-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-indigo-border;
        background: $color-indigo-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-indigo-bg;
        }
      }
    }

    &.blue-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-blue-border;
        background: $color-blue-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-blue-bg;
        }
      }
    }

    &.light-blue-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-light-blue-border;
        background: $color-light-blue-bg;
      }

      &.light-blue .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-light-blue-bg;
        }
      }
    }

    &.cyan-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-cyan-border;
        background: $color-cyan-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-cyan-bg;
        }
      }
    }

    &.teal-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-teal-border;
        background: $color-teal-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-teal-bg;
        }
      }
    }

    &.green-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-green-border;
        background: $color-green-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-green-bg;
        }
      }
    }

    &.light-green-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-light-green-border;
        background: $color-light-green-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-light-green-bg;
        }
      }
    }

    &.lime-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-lime-border;
        background: $color-lime-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-lime-bg;
        }
      }
    }

    &.yellow-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-yellow-border;
        background: $color-yellow-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-yellow-bg;
        }
      }
    }

    &.amber-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-amber-border;
        background: $color-amber-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-amber-bg;
        }
      }
    }

    &.orange-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-orange-border;
        background: $color-orange-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-orange-bg;
        }
      }
    }

    &.deep-orange-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-deep-orange-border;
        background: $color-deep-orange-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-deep-orange-bg;
        }
      }
    }

    &.brown-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-brown-border;
        background: $color-brown-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-brown-bg;
        }
      }
    }

    &.grey-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-grey-border;
        background: $color-grey-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-grey-bg;
        }
      }
    }

    &.blue-grey-md {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-blue-grey-border;
        background: $color-blue-grey-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-blue-grey-bg;
        }
      }
    }
  }

}

@media (max-width: 767px) {

  .owl-theme {
    &.red-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-red-border;
        background: $color-red-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-red-bg;
        }
      }
    }

    &.pink-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-pink-border;
        background: $color-pink-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-pink-bg;
        }
      }
    }

    &.purple-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-purple-border;
        background: $color-purple-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-purple-bg;
        }
      }
    }

    &.deep-purple-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-deep-purple-border;
        background: $color-deep-purple-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-deep-purple-bg;
        }
      }
    }

    &.indigo-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-indigo-border;
        background: $color-indigo-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-indigo-bg;
        }
      }
    }

    &.blue-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-blue-border;
        background: $color-blue-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-blue-bg;
        }
      }
    }

    &.light-blue-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-light-blue-border;
        background: $color-light-blue-bg;
      }

      &.light-blue .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-light-blue-bg;
        }
      }
    }

    &.cyan-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-cyan-border;
        background: $color-cyan-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-cyan-bg;
        }
      }
    }

    &.teal-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-teal-border;
        background: $color-teal-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-teal-bg;
        }
      }
    }

    &.green-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-green-border;
        background: $color-green-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-green-bg;
        }
      }
    }

    &.light-green-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-light-green-border;
        background: $color-light-green-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-light-green-bg;
        }
      }
    }

    &.lime-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-lime-border;
        background: $color-lime-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-lime-bg;
        }
      }
    }

    &.yellow-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-yellow-border;
        background: $color-yellow-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-yellow-bg;
        }
      }
    }

    &.amber-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-amber-border;
        background: $color-amber-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-amber-bg;
        }
      }
    }

    &.orange-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-orange-border;
        background: $color-orange-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-orange-bg;
        }
      }
    }

    &.deep-orange-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-deep-orange-border;
        background: $color-deep-orange-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-deep-orange-bg;
        }
      }
    }

    &.brown-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-brown-border;
        background: $color-brown-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-brown-bg;
        }
      }
    }

    &.grey-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-grey-border;
        background: $color-grey-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-grey-bg;
        }
      }
    }

    &.blue-grey-sm {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-blue-grey-border;
        background: $color-blue-grey-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-blue-grey-bg;
        }
      }
    }
  }

}

@media (max-width: 479px) {

  .owl-theme {
    &.red-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-red-border;
        background: $color-red-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-red-bg;
        }
      }
    }

    &.pink-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-pink-border;
        background: $color-pink-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-pink-bg;
        }
      }
    }

    &.purple-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-purple-border;
        background: $color-purple-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-purple-bg;
        }
      }
    }

    &.deep-purple-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-deep-purple-border;
        background: $color-deep-purple-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-deep-purple-bg;
        }
      }
    }

    &.indigo-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-indigo-border;
        background: $color-indigo-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-indigo-bg;
        }
      }
    }

    &.blue-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-blue-border;
        background: $color-blue-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-blue-bg;
        }
      }
    }

    &.light-blue-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-light-blue-border;
        background: $color-light-blue-bg;
      }

      &.light-blue .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-light-blue-bg;
        }
      }
    }

    &.cyan-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-cyan-border;
        background: $color-cyan-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-cyan-bg;
        }
      }
    }

    &.teal-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-teal-border;
        background: $color-teal-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-teal-bg;
        }
      }
    }

    &.green-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-green-border;
        background: $color-green-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-green-bg;
        }
      }
    }

    &.light-green-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-light-green-border;
        background: $color-light-green-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-light-green-bg;
        }
      }
    }

    &.lime-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-lime-border;
        background: $color-lime-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-lime-bg;
        }
      }
    }

    &.yellow-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-yellow-border;
        background: $color-yellow-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-yellow-bg;
        }
      }
    }

    &.amber-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-amber-border;
        background: $color-amber-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-amber-bg;
        }
      }
    }

    &.orange-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-orange-border;
        background: $color-orange-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-orange-bg;
        }
      }
    }

    &.deep-orange-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-deep-orange-border;
        background: $color-deep-orange-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-deep-orange-bg;
        }
      }
    }

    &.brown-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-brown-border;
        background: $color-brown-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-brown-bg;
        }
      }
    }

    &.grey-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-grey-border;
        background: $color-grey-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-grey-bg;
        }
      }
    }

    &.blue-grey-xs {
      & .owl-nav [class*=owl-]:hover {
        border: 1px solid $color-blue-grey-border;
        background: $color-blue-grey-bg;
      }

      & .owl-dots .owl-dot {
        &.active span, &:hover span {
          background: $color-blue-grey-bg;
        }
      }
    }
  }

}

@media (max-width: 319px) {}