//button

.#{$button} {
  & {
    color: #fff;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    transition: all .3s ease;

    &:focus, &:hover, &.active, &.active:focus, &.active:hover {
      color: #fff;
      opacity: .8;
      filter: alpha(opacity=80);
      box-shadow: none;
      outline: none;
      outline-offset: 0;
    }
  }

  &.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus {
    /*outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;*/
    outline: none;
    outline-offset: 0;
  }

  &-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }

  &-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }

  &-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
  }
}

//red

.#{$btn-red} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-a100:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-a100:hover {
    color: #555;
  }
}

//pink

.#{$btn-pink} {
  &:focus,
  &-50:focus,
  &-1000:focus,
  &-200:focus,
  &-a100:focus,
  &:hover,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-a100:hover {
    color: #555;
  }
}

//purple

.#{$btn-purple} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-a100:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-a100:hover {
    color: #555;
  }
}

//d-purple

.#{$btn-deep-purple} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-a100:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-a100:hover {
    color: #555;
  }
}

//indigo

.#{$btn-indigo} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-a100:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-a100:hover {
    color: #555;
  }
}

//blue

.#{$btn-blue} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-a100:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-a100:hover {
    color: #555;
  }
}

//l-blue

.#{$btn-light-blue} {
  &:focus,
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-a100:focus,
  &:hover,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-a100:hover {
    color: #555;
  }
}

//cyan

.#{$btn-cyan} {
  &:focus,
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-a100:focus,
  &-a200:focus,
  &:hover,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-a100:hover,
  &-a200:hover {
    color: #555;
  }
}

//teal

.#{$btn-teal} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-a100:focus,
  &-a200:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-a100:hover,
  &-a200:hover {
    color: #555;
  }
}

//green

.#{$btn-green} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-400:focus,
  &-a100:focus,
  &-a200:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-400:hover,
  &-a100:hover,
  &-a200:hover {
    color: #555;
  }
}

//l-green

.#{$btn-light-green} {
  &:focus,
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-a100:focus,
  &-a200:focus,
  &-a400:focus,
  &:hover,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-a100:hover,
  &-a200:hover,
  &-a400:hover {
    color: #555;
  }
}

//lime

.#{$btn-lime} {
  &:focus,
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-400:focus,
  &-a100:focus,
  &-a200:focus,
  &-a400:focus,
  &:hover,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-400:hover,
  &-a100:hover,
  &-a200:hover,
  &-a400:hover {
    color: #555;
  }
}

//yellow

.#{$btn-yellow} {
  &:focus,
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-400:focus,
  &-500:focus,
  &-a100:focus,
  &-a200:focus,
  &-a400:focus,
  &:hover,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-400:hover,
  &-500:hover,
  &-a100:hover,
  &-a200:hover,
  &-a400:hover {
    color: #555;
  }
}

//amber

.#{$btn-amber} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-a100:focus,
  &-a200:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-a100:hover,
  &-a200:hover {
    color: #555;
  }
}

//orange

.#{$btn-orange} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-a100:focus,
  &-a200:focus,
  &-a400:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-a100:hover,
  &-a200:hover,
  &-a400:hover {
    color: #555;
  }
}

//d-orange

.#{$btn-deep-orange} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-a100:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-a100:hover {
    color: #555;
  }
}

//brown

.#{$btn-brown} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover {
    color: #555;
  }
}

//grey

.#{$btn-grey} {
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &-300:focus,
  &-400:focus,
  &-50:hover,
  &-100:hover,
  &-200:hover,
  &-300:hover,
  &-400:hover {
    color: #555;
  }
}

//blue-grey

.#{$btn-blue-grey} {
  &:focus,
  &-50:focus,
  &-100:focus,
  &-200:focus,
  &:hover,
  &-50:hover,
  &-100:hover,
  &-200:hover {
    color: #555;
  }
}

//responsive

@media (max-width: 1199px) {

  .#{$button} {
    &-lg-lg {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
    }

    &-sm-lg {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }

    &-xs-lg {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
    }
  }

}

@media (max-width: 991px) {

  .#{$button} {
    &-lg-md {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
    }

    &-sm-md {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }

    &-xs-md {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
    }
  }

}

@media (max-width: 767px) {

  .#{$button} {
    &-lg-sm {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
    }

    &-sm-sm {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }

    &-xs-sm {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
    }
  }

}

@media (max-width: 479px) {

  .#{$button} {
    &-lg-xs {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
    }

    &-sm-xs {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }

    &-xs-xs {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
    }
  }

}

@media (max-width: 319px) {
}