//column

.column {
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;

  > * {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  &.one {
    column-count: 1;
  }

  &.two {
    column-count: 2;
  }

  &.three {
    column-count: 3;
  }

  &.four {
    column-count: 4;
  }

  &.five {
    column-count: 5;
  }

  &.six {
    column-count: 6;
  }

  &.seven {
    column-count: 7;
  }

  &.eight {
    column-count: 8;
  }

  &.nine {
    column-count: 9;
  }

  &.ten {
    column-count: 10;
  }

  &.eleven {
    column-count: 11;
  }

  &.twelve {
    column-count: 12;
  }
}

//responsive

@media (max-width: 1199px) {

  .column {
    &.one-lg {
      column-count: 1;
    }

    &.two-lg {
      column-count: 2;
    }

    &.three-lg {
      column-count: 3;
    }

    &.four-lg {
      column-count: 4;
    }

    &.five-lg {
      column-count: 5;
    }

    &.six-lg {
      column-count: 6;
    }

    &.seven-lg {
      column-count: 7;
    }

    &.eight-lg {
      column-count: 8;
    }

    &.nine-lg {
      column-count: 9;
    }

    &.ten-lg {
      column-count: 10;
    }

    &.eleven-lg {
      column-count: 11;
    }

    &.twelve-lg {
      column-count: 12;
    }
  }

}

@media (max-width: 991px) {

  .column {
    &.one-md {
      column-count: 1;
    }

    &.two-md {
      column-count: 2;
    }

    &.three-md {
      column-count: 3;
    }

    &.four-md {
      column-count: 4;
    }

    &.five-md {
      column-count: 5;
    }

    &.six-md {
      column-count: 6;
    }

    &.seven-md {
      column-count: 7;
    }

    &.eight-md {
      column-count: 8;
    }

    &.nine-md {
      column-count: 9;
    }

    &.ten-md {
      column-count: 10;
    }

    &.eleven-md {
      column-count: 11;
    }

    &.twelve-md {
      column-count: 12;
    }
  }

}

@media (max-width: 767px) {

  .column {
    &.one-sm {
      column-count: 1;
    }

    &.two-sm {
      column-count: 2;
    }

    &.three-sm {
      column-count: 3;
    }

    &.four-sm {
      column-count: 4;
    }

    &.five-sm {
      column-count: 5;
    }

    &.six-sm {
      column-count: 6;
    }

    &.seven-sm {
      column-count: 7;
    }

    &.eight-sm {
      column-count: 8;
    }

    &.nine-sm {
      column-count: 9;
    }

    &.ten-sm {
      column-count: 10;
    }

    &.eleven-sm {
      column-count: 11;
    }

    &.twelve-sm {
      column-count: 12;
    }
  }

}

@media (max-width: 479px) {

  .column {
    &.one-xs {
      column-count: 1;
    }

    &.two-xs {
      column-count: 2;
    }

    &.three-xs {
      column-count: 3;
    }

    &.four-xs {
      column-count: 4;
    }

    &.five-xs {
      column-count: 5;
    }

    &.six-xs {
      column-count: 6;
    }

    &.seven-xs {
      column-count: 7;
    }

    &.eight-xs {
      column-count: 8;
    }

    &.nine-xs {
      column-count: 9;
    }

    &.ten-xs {
      column-count: 10;
    }

    &.eleven-xs {
      column-count: 11;
    }

    &.twelve-xs {
      column-count: 12;
    }
  }

}

@media (max-width: 319px) {}