//display

//display

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.inline-table {
  display: inline-table;
}

.show {
  display: block;
}

.hide {
  display: none;
}

//visibility

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

//opacity

.#{$opacity} {
  &-0 {
    opacity: 0;
  }

  &-10 {
    opacity: .1;
  }

  &-20 {
    opacity: .2;
  }

  &-30 {
    opacity: .3;
  }

  &-40 {
    opacity: .4;
  }

  &-50 {
    opacity: .5;
  }

  &-60 {
    opacity: .6;
  }

  &-70 {
    opacity: .7;
  }

  &-80 {
    opacity: .8;
  }

  &-90 {
    opacity: .9;
  }

  &-100 {
    opacity: 1;
  }
}

//z-index

.#{$z-index} {
  &-0 {
    z-index: 0;
  }

  &-10 {
    z-index: 10;
  }

  &-20 {
    z-index: 20;
  }

  &-30 {
    z-index: 30;
  }

  &-40 {
    z-index: 40;
  }

  &-50 {
    z-index: 50;
  }

  &-60 {
    z-index: 60;
  }

  &-70 {
    z-index: 70;
  }

  &-80 {
    z-index: 80;
  }

  &-90 {
    z-index: 90;
  }

  &-100 {
    z-index: 100;
  }

  &-auto {
    z-index: auto;
  }
}

//box-shadow

.#{$box-shadow} {
  &-xs {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  }

  &-sm {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }

  &-md {
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  }

  &-lg {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
  }

  &-none {
    box-shadow: none;
  }
}

//responsive

@media (max-width: 1199px) {
  .block-lg {
    display: block;
  }
  .inline-block-lg {
    display: inline-block;
  }
  .inline-lg {
    display: inline;
  }
  .table-lg {
    display: table;
  }
  .table-row-lg {
    display: table-row;
  }
  .table-cell-lg {
    display: table-cell;
  }
  .flex-lg {
    display: flex;
  }
  .inline-flex-lg {
    display: inline-flex;
  }
  .inline-table-lg {
    display: inline-table;
  }
  .show-lg {
    display: block !important;
  }
  .hide-lg {
    display: none !important;
  }
  .visible-lg {
    visibility: visible;
  }
  .invisible-lg {
    visibility: hidden;
  }

  .#{$opacity} {
    &-0-lg {
      opacity: 0;
    }

    &-10-lg {
      opacity: .1;
    }

    &-20-lg {
      opacity: .2;
    }

    &-30-lg {
      opacity: .3;
    }

    &-40-lg {
      opacity: .4;
    }

    &-50-lg {
      opacity: .5;
    }

    &-60-lg {
      opacity: .6;
    }

    &-70-lg {
      opacity: .7;
    }

    &-80-lg {
      opacity: .8;
    }

    &-90-lg {
      opacity: .9;
    }

    &-100-lg {
      opacity: 1;
    }
  }

  .#{$z-index} {
    &-0-lg {
      z-index: 0;
    }

    &-10-lg {
      z-index: 10;
    }

    &-20-lg {
      z-index: 20;
    }

    &-30-lg {
      z-index: 30;
    }

    &-40-lg {
      z-index: 40;
    }

    &-50-lg {
      z-index: 50;
    }

    &-60-lg {
      z-index: 60;
    }

    &-70-lg {
      z-index: 70;
    }

    &-80-lg {
      z-index: 80;
    }

    &-90-lg {
      z-index: 90;
    }

    &-100-lg {
      z-index: 100;
    }

    &-auto-lg {
      z-index: auto;
    }
  }

  .#{$box-shadow} {
    &-xs-lg {
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    }

    &-sm-lg {
      box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    }

    &-md-lg {
      box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    }

    &-lg-lg {
      box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    }

    &-none-lg {
      box-shadow: none;
    }
  }

}

@media (max-width: 991px) {
  .block-md {
    display: block;
  }
  .inline-block-md {
    display: inline-block;
  }
  .inline-md {
    display: inline;
  }
  .table-md {
    display: table;
  }
  .table-row-md {
    display: table-row;
  }
  .table-cell-md {
    display: table-cell;
  }
  .flex-md {
    display: flex;
  }
  .inline-flex-md {
    display: inline-flex;
  }
  .inline-table-md {
    display: inline-table;
  }
  .show-md {
    display: block !important;
  }
  .hide-md {
    display: none !important;
  }
  .visible-md {
    visibility: visible;
  }
  .invisible-md {
    visibility: hidden;
  }

  .#{$opacity} {
    &-0-md {
      opacity: 0;
    }

    &-10-md {
      opacity: .1;
    }

    &-20-md {
      opacity: .2;
    }

    &-30-md {
      opacity: .3;
    }

    &-40-md {
      opacity: .4;
    }

    &-50-md {
      opacity: .5;
    }

    &-60-md {
      opacity: .6;
    }

    &-70-md {
      opacity: .7;
    }

    &-80-md {
      opacity: .8;
    }

    &-90-md {
      opacity: .9;
    }

    &-100-md {
      opacity: 1;
    }
  }

  .#{$z-index} {
    &-0-md {
      z-index: 0;
    }

    &-10-md {
      z-index: 10;
    }

    &-20-md {
      z-index: 20;
    }

    &-30-md {
      z-index: 30;
    }

    &-40-md {
      z-index: 40;
    }

    &-50-md {
      z-index: 50;
    }

    &-60-md {
      z-index: 60;
    }

    &-70-md {
      z-index: 70;
    }

    &-80-md {
      z-index: 80;
    }

    &-90-md {
      z-index: 90;
    }

    &-100-md {
      z-index: 100;
    }

    &-auto-md {
      z-index: auto;
    }
  }

  .#{$box-shadow} {
    &-xs-md {
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    }

    &-sm-md {
      box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    }

    &-md-md {
      box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    }

    &-lg-md {
      box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    }

    &-none-md {
      box-shadow: none;
    }
  }

}

@media (max-width: 767px) {
  .block-sm {
    display: block;
  }
  .inline-block-sm {
    display: inline-block;
  }
  .inline-sm {
    display: inline;
  }
  .table-sm {
    display: table;
  }
  .table-row-sm {
    display: table-row;
  }
  .table-cell-sm {
    display: table-cell;
  }
  .flex-sm {
    display: flex;
  }
  .inline-flex-sm {
    display: inline-flex;
  }
  .inline-table-sm {
    display: inline-table;
  }
  .show-sm {
    display: block !important;
  }
  .hide-sm {
    display: none !important;
  }
  .visible-sm {
    visibility: visible;
  }
  .invisible-sm {
    visibility: hidden;
  }

  .#{$opacity} {
    &-0-sm {
      opacity: 0;
    }

    &-10-sm {
      opacity: .1;
    }

    &-20-sm {
      opacity: .2;
    }

    &-30-sm {
      opacity: .3;
    }

    &-40-sm {
      opacity: .4;
    }

    &-50-sm {
      opacity: .5;
    }

    &-60-sm {
      opacity: .6;
    }

    &-70-sm {
      opacity: .7;
    }

    &-80-sm {
      opacity: .8;
    }

    &-90-sm {
      opacity: .9;
    }

    &-100-sm {
      opacity: 1;
    }
  }

  .#{$z-index} {
    &-0-sm {
      z-index: 0;
    }

    &-10-sm {
      z-index: 10;
    }

    &-20-sm {
      z-index: 20;
    }

    &-30-sm {
      z-index: 30;
    }

    &-40-sm {
      z-index: 40;
    }

    &-50-sm {
      z-index: 50;
    }

    &-60-sm {
      z-index: 60;
    }

    &-70-sm {
      z-index: 70;
    }

    &-80-sm {
      z-index: 80;
    }

    &-90-sm {
      z-index: 90;
    }

    &-100-sm {
      z-index: 100;
    }

    &-auto-sm {
      z-index: auto;
    }
  }

  .#{$box-shadow} {
    &-xs-sm {
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    }

    &-sm-sm {
      box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    }

    &-md-sm {
      box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    }

    &-lg-sm {
      box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    }

    &-none-sm {
      box-shadow: none;
    }
  }

}

@media (max-width: 479px) {
  .block-xs {
    display: block;
  }
  .inline-block-xs {
    display: inline-block;
  }
  .inline-xs {
    display: inline;
  }
  .table-xs {
    display: table;
  }
  .table-row-xs {
    display: table-row;
  }
  .table-cell-xs {
    display: table-cell;
  }
  .flex-xs {
    display: flex;
  }
  .inline-flex-xs {
    display: inline-flex;
  }
  .inline-table-xs {
    display: inline-table;
  }
  .show-xs {
    display: block !important;
  }
  .hide-xs {
    display: none !important;
  }
  .visible-xs {
    visibility: visible;
  }
  .invisible-xs {
    visibility: hidden;
  }

  .#{$opacity} {
    &-0-xs {
      opacity: 0;
    }

    &-10-xs {
      opacity: .1;
    }

    &-20-xs {
      opacity: .2;
    }

    &-30-xs {
      opacity: .3;
    }

    &-40-xs {
      opacity: .4;
    }

    &-50-xs {
      opacity: .5;
    }

    &-60-xs {
      opacity: .6;
    }

    &-70-xs {
      opacity: .7;
    }

    &-80-xs {
      opacity: .8;
    }

    &-90-xs {
      opacity: .9;
    }

    &-100-xs {
      opacity: 1;
    }
  }

  .#{$z-index} {
    &-0-xs {
      z-index: 0;
    }

    &-10-xs {
      z-index: 10;
    }

    &-20-xs {
      z-index: 20;
    }

    &-30-xs {
      z-index: 30;
    }

    &-40-xs {
      z-index: 40;
    }

    &-50-xs {
      z-index: 50;
    }

    &-60-xs {
      z-index: 60;
    }

    &-70-xs {
      z-index: 70;
    }

    &-80-xs {
      z-index: 80;
    }

    &-90-xs {
      z-index: 90;
    }

    &-100-xs {
      z-index: 100;
    }

    &-auto-xs {
      z-index: auto;
    }
  }

  .#{$box-shadow} {
    &-xs-xs {
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    }

    &-sm-xs {
      box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    }

    &-md-xs {
      box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    }

    &-lg-xs {
      box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    }

    &-none-xs {
      box-shadow: none;
    }
  }

}

@media (max-width: 319px) {}