//height

//percent

.#{$height} {
  &-5p {
    height: 5%;
  }

  &-10p {
    height: 10%;
  }

  &-15p {
    height: 15%;
  }

  &-20p {
    height: 20%;
  }

  &-25p {
    height: 25%;
  }

  &-30p {
    height: 30%;
  }

  &-35p {
    height: 35%;
  }

  &-40p {
    height: 40%;
  }

  &-45p {
    height: 45%;
  }

  &-50p {
    height: 50%;
  }

  &-55p {
    height: 55%;
  }

  &-60p {
    height: 60%;
  }

  &-65p {
    height: 65%;
  }

  &-70p {
    height: 70%;
  }

  &-75p {
    height: 75%;
  }

  &-80p {
    height: 80%;
  }

  &-85p {
    height: 85%;
  }

  &-90p {
    height: 90%;
  }

  &-95p {
    height: 95%;
  }

  &-100p {
    height: 100%;
  }
}

//pixel

.#{$height} {
  &-1 {
    height: 1px;
  }

  &-2 {
    height: 2px;
  }

  &-3 {
    height: 3px;
  }

  &-4 {
    height: 4px;
  }

  &-5 {
    height: 5px;
  }

  &-6 {
    height: 6px;
  }

  &-7 {
    height: 7px;
  }

  &-8 {
    height: 8px;
  }

  &-9 {
    height: 9px;
  }

  &-10 {
    height: 10px;
  }

  &-15 {
    height: 5px;
  }

  &-20 {
    height: 20px;
  }

  &-25 {
    height: 25px;
  }

  &-30 {
    height: 30px;
  }

  &-35 {
    height: 35px;
  }

  &-40 {
    height: 40px;
  }

  &-45 {
    height: 45px;
  }

  &-50 {
    height: 50px;
  }

  &-55 {
    height: 55px;
  }

  &-60 {
    height: 60px;
  }

  &-65 {
    height: 65px;
  }

  &-70 {
    height: 70px;
  }

  &-75 {
    height: 75px;
  }

  &-80 {
    height: 80px;
  }

  &-85 {
    height: 85px;
  }

  &-90 {
    height: 90px;
  }

  &-95 {
    height: 95px;
  }

  &-100 {
    height: 100px;
  }
}

//other

.#{$height} {
  &-auto {
    height: auto;
  }

  &-screen {
    height: 100vh;
  }
}

.min-h-0 {
  min-height: 0;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.max-h-full {
  max-height: 100%;
}

.max-h-screen {
  max-height: 100vh;
}

//responsive

@media (max-width: 1199px) {

  .#{$height} {
    &-5p-lg {
      height: 5%;
    }

    &-10p-lg {
      height: 10%;
    }

    &-15p-lg {
      height: 15%;
    }

    &-20p-lg {
      height: 20%;
    }

    &-25p-lg {
      height: 25%;
    }

    &-30p-lg {
      height: 30%;
    }

    &-35p-lg {
      height: 35%;
    }

    &-40p-lg {
      height: 40%;
    }

    &-45p-lg {
      height: 45%;
    }

    &-50p-lg {
      height: 50%;
    }

    &-55p-lg {
      height: 55%;
    }

    &-60p-lg {
      height: 60%;
    }

    &-65p-lg {
      height: 65%;
    }

    &-70p-lg {
      height: 70%;
    }

    &-75p-lg {
      height: 75%;
    }

    &-80p-lg {
      height: 80%;
    }

    &-85p-lg {
      height: 85%;
    }

    &-90p-lg {
      height: 90%;
    }

    &-95p-lg {
      height: 95%;
    }

    &-100p-lg {
      height: 100%;
    }
  }

  .#{$height} {
    &-1-lg {
      height: 1px;
    }

    &-2-lg {
      height: 2px;
    }

    &-3-lg {
      height: 3px;
    }

    &-4-lg {
      height: 4px;
    }

    &-5-lg {
      height: 5px;
    }

    &-6-lg {
      height: 6px;
    }

    &-7-lg {
      height: 7px;
    }

    &-8-lg {
      height: 8px;
    }

    &-9-lg {
      height: 9px;
    }

    &-10-lg {
      height: 10px;
    }

    &-15-lg {
      height: 5px;
    }

    &-20-lg {
      height: 20px;
    }

    &-25-lg {
      height: 25px;
    }

    &-30-lg {
      height: 30px;
    }

    &-35-lg {
      height: 35px;
    }

    &-40-lg {
      height: 40px;
    }

    &-45-lg {
      height: 45px;
    }

    &-50-lg {
      height: 50px;
    }

    &-55-lg {
      height: 55px;
    }

    &-60-lg {
      height: 60px;
    }

    &-65-lg {
      height: 65px;
    }

    &-70-lg {
      height: 70px;
    }

    &-75-lg {
      height: 75px;
    }

    &-80-lg {
      height: 80px;
    }

    &-85-lg {
      height: 85px;
    }

    &-90-lg {
      height: 90px;
    }

    &-95-lg {
      height: 95px;
    }

    &-100-lg {
      height: 100px;
    }
  }

  .#{$height} {
    &-auto-lg {
      height: auto;
    }

    &-screen-lg {
      height: 100vh;
    }
  }

  .min-h-0-lg {
    min-height: 0;
  }

  .min-h-full-lg {
    min-height: 100%;
  }

  .min-h-screen-lg {
    min-height: 100vh;
  }

  .max-h-full-lg {
    max-height: 100%;
  }

  .max-h-screen-lg {
    max-height: 100vh;
  }

}

@media (max-width: 991px) {

  .#{$height} {
    &-5p-md {
      height: 5%;
    }

    &-10p-md {
      height: 10%;
    }

    &-15p-md {
      height: 15%;
    }

    &-20p-md {
      height: 20%;
    }

    &-25p-md {
      height: 25%;
    }

    &-30p-md {
      height: 30%;
    }

    &-35p-md {
      height: 35%;
    }

    &-40p-md {
      height: 40%;
    }

    &-45p-md {
      height: 45%;
    }

    &-50p-md {
      height: 50%;
    }

    &-55p-md {
      height: 55%;
    }

    &-60p-md {
      height: 60%;
    }

    &-65p-md {
      height: 65%;
    }

    &-70p-md {
      height: 70%;
    }

    &-75p-md {
      height: 75%;
    }

    &-80p-md {
      height: 80%;
    }

    &-85p-md {
      height: 85%;
    }

    &-90p-md {
      height: 90%;
    }

    &-95p-md {
      height: 95%;
    }

    &-100p-md {
      height: 100%;
    }
  }

  .#{$height} {
    &-1-md {
      height: 1px;
    }

    &-2-md {
      height: 2px;
    }

    &-3-md {
      height: 3px;
    }

    &-4-md {
      height: 4px;
    }

    &-5-md {
      height: 5px;
    }

    &-6-md {
      height: 6px;
    }

    &-7-md {
      height: 7px;
    }

    &-8-md {
      height: 8px;
    }

    &-9-md {
      height: 9px;
    }

    &-10-md {
      height: 10px;
    }

    &-15-md {
      height: 5px;
    }

    &-20-md {
      height: 20px;
    }

    &-25-md {
      height: 25px;
    }

    &-30-md {
      height: 30px;
    }

    &-35-md {
      height: 35px;
    }

    &-40-md {
      height: 40px;
    }

    &-45-md {
      height: 45px;
    }

    &-50-md {
      height: 50px;
    }

    &-55-md {
      height: 55px;
    }

    &-60-md {
      height: 60px;
    }

    &-65-md {
      height: 65px;
    }

    &-70-md {
      height: 70px;
    }

    &-75-md {
      height: 75px;
    }

    &-80-md {
      height: 80px;
    }

    &-85-md {
      height: 85px;
    }

    &-90-md {
      height: 90px;
    }

    &-95-md {
      height: 95px;
    }

    &-100-md {
      height: 100px;
    }
  }

  .#{$height} {
    &-auto-md {
      height: auto;
    }

    &-screen-md {
      height: 100vh;
    }
  }

  .min-h-0-md {
    min-height: 0;
  }

  .min-h-full-md {
    min-height: 100%;
  }

  .min-h-screen-md {
    min-height: 100vh;
  }

  .max-h-full-md {
    max-height: 100%;
  }

  .max-h-screen-md {
    max-height: 100vh;
  }

}

@media (max-width: 767px) {

  .#{$height} {
    &-5p-sm {
      height: 5%;
    }

    &-10p-sm {
      height: 10%;
    }

    &-15p-sm {
      height: 15%;
    }

    &-20p-sm {
      height: 20%;
    }

    &-25p-sm {
      height: 25%;
    }

    &-30p-sm {
      height: 30%;
    }

    &-35p-sm {
      height: 35%;
    }

    &-40p-sm {
      height: 40%;
    }

    &-45p-sm {
      height: 45%;
    }

    &-50p-sm {
      height: 50%;
    }

    &-55p-sm {
      height: 55%;
    }

    &-60p-sm {
      height: 60%;
    }

    &-65p-sm {
      height: 65%;
    }

    &-70p-sm {
      height: 70%;
    }

    &-75p-sm {
      height: 75%;
    }

    &-80p-sm {
      height: 80%;
    }

    &-85p-sm {
      height: 85%;
    }

    &-90p-sm {
      height: 90%;
    }

    &-95p-sm {
      height: 95%;
    }

    &-100p-sm {
      height: 100%;
    }
  }

  .#{$height} {
    &-1-sm {
      height: 1px;
    }

    &-2-sm {
      height: 2px;
    }

    &-3-sm {
      height: 3px;
    }

    &-4-sm {
      height: 4px;
    }

    &-5-sm {
      height: 5px;
    }

    &-6-sm {
      height: 6px;
    }

    &-7-sm {
      height: 7px;
    }

    &-8-sm {
      height: 8px;
    }

    &-9-sm {
      height: 9px;
    }

    &-10-sm {
      height: 10px;
    }

    &-15-sm {
      height: 5px;
    }

    &-20-sm {
      height: 20px;
    }

    &-25-sm {
      height: 25px;
    }

    &-30-sm {
      height: 30px;
    }

    &-35-sm {
      height: 35px;
    }

    &-40-sm {
      height: 40px;
    }

    &-45-sm {
      height: 45px;
    }

    &-50-sm {
      height: 50px;
    }

    &-55-sm {
      height: 55px;
    }

    &-60-sm {
      height: 60px;
    }

    &-65-sm {
      height: 65px;
    }

    &-70-sm {
      height: 70px;
    }

    &-75-sm {
      height: 75px;
    }

    &-80-sm {
      height: 80px;
    }

    &-85-sm {
      height: 85px;
    }

    &-90-sm {
      height: 90px;
    }

    &-95-sm {
      height: 95px;
    }

    &-100-sm {
      height: 100px;
    }
  }

  .#{$height} {
    &-auto-sm {
      height: auto;
    }

    &-screen-sm {
      height: 100vh;
    }
  }

  .min-h-0-sm {
    min-height: 0;
  }

  .min-h-full-sm {
    min-height: 100%;
  }

  .min-h-screen-sm {
    min-height: 100vh;
  }

  .max-h-full-sm {
    max-height: 100%;
  }

  .max-h-screen-sm {
    max-height: 100vh;
  }

}

@media (max-width: 479px) {

  .#{$height} {
    &-5p-xs {
      height: 5%;
    }

    &-10p-xs {
      height: 10%;
    }

    &-15p-xs {
      height: 15%;
    }

    &-20p-xs {
      height: 20%;
    }

    &-25p-xs {
      height: 25%;
    }

    &-30p-xs {
      height: 30%;
    }

    &-35p-xs {
      height: 35%;
    }

    &-40p-xs {
      height: 40%;
    }

    &-45p-xs {
      height: 45%;
    }

    &-50p-xs {
      height: 50%;
    }

    &-55p-xs {
      height: 55%;
    }

    &-60p-xs {
      height: 60%;
    }

    &-65p-xs {
      height: 65%;
    }

    &-70p-xs {
      height: 70%;
    }

    &-75p-xs {
      height: 75%;
    }

    &-80p-xs {
      height: 80%;
    }

    &-85p-xs {
      height: 85%;
    }

    &-90p-xs {
      height: 90%;
    }

    &-95p-xs {
      height: 95%;
    }

    &-100p-xs {
      height: 100%;
    }
  }

  .#{$height} {
    &-1-xs {
      height: 1px;
    }

    &-2-xs {
      height: 2px;
    }

    &-3-xs {
      height: 3px;
    }

    &-4-xs {
      height: 4px;
    }

    &-5-xs {
      height: 5px;
    }

    &-6-xs {
      height: 6px;
    }

    &-7-xs {
      height: 7px;
    }

    &-8-xs {
      height: 8px;
    }

    &-9-xs {
      height: 9px;
    }

    &-10-xs {
      height: 10px;
    }

    &-15-xs {
      height: 5px;
    }

    &-20-xs {
      height: 20px;
    }

    &-25-xs {
      height: 25px;
    }

    &-30-xs {
      height: 30px;
    }

    &-35-xs {
      height: 35px;
    }

    &-40-xs {
      height: 40px;
    }

    &-45-xs {
      height: 45px;
    }

    &-50-xs {
      height: 50px;
    }

    &-55-xs {
      height: 55px;
    }

    &-60-xs {
      height: 60px;
    }

    &-65-xs {
      height: 65px;
    }

    &-70-xs {
      height: 70px;
    }

    &-75-xs {
      height: 75px;
    }

    &-80-xs {
      height: 80px;
    }

    &-85-xs {
      height: 85px;
    }

    &-90-xs {
      height: 90px;
    }

    &-95-xs {
      height: 95px;
    }

    &-100-xs {
      height: 100px;
    }
  }

  .#{$height} {
    &-auto-xs {
      height: auto;
    }

    &-screen-xs {
      height: 100vh;
    }
  }

  .min-h-0-xs {
    min-height: 0;
  }

  .min-h-full-xs {
    min-height: 100%;
  }

  .min-h-screen-xs {
    min-height: 100vh;
  }

  .max-h-full-xs {
    max-height: 100%;
  }

  .max-h-screen-xs {
    max-height: 100vh;
  }

}

@media (max-width: 319px) {}