//icon

//social

.#{$fa} {
  &-envelope, &-envelope-o, &-envelope-open, &-envelope-open-o, &-envelope-open-text, &-envelope-square {
    $color: green;
    color: $color;
  }

  &-facebook, &-facebook-f, &-facebook-official, &-facebook-square {
    $color: #3a5898;
    color: $color;
  }

  &-twitter, &-twitter-official, &-twitter-square {
    $color: #50aaee;
    color: $color;
  }

  &-twitter, &-twitter-official, &-twitter-square {
    $color: #50aaee;
    color: $color;
  }

  &-google-plus, &-google-plus-circle, &-google-plus-official, &-google-plus-square {
    $color: #d93e2d;
    color: $color;
  }

  &-youtube, &-youtube-official, &-youtube-play, &-youtube-square {
    $color: #e62117;
    color: $color;
  }

  &-pinterest, &-pinterest-p, &-pinterest-official, &-pinterest-square {
    $color: #d42127;
    color: $color;
  }

  &-vimeo, &-vimeo-square {
    $color: #4c75a3;
    color: $color;
  }

  &-instagram {
    $color: #d10869;
    color: $color;
  }

  &-vk {
    $color: #4872a3;
    color: $color;
  }
}

//icon:before:after

.#{$icon} {
  & {
    font-family: FontAwesome;
  }

  &[class*="left"]::before,
  &[class*="left"] > li::before {
    padding-left: 3px;
    padding-right: 5px;
  }

  &[class*="right"]::after,
  &[class*="right"] > li::after {
    padding-left: 5px;
  }
}

//element-icon

.home.left::before,
.home.right::after {
  content: "\f015";
}

.search.left::before,
.search.right::after {
  content: "\f002";
}

.tag.left::before,
.tag.right::after {
  content: "\f02b";
}

.tags.left::before,
.tags.right::after {
  content: "\f02c";
}

.sign-in.left::before,
.sign-in.right::after {
  content: "\f090";
}

.sign-out.left::before,
.sign-out.right::after {
  content: "\f08b";
}

.check.left::before,
.check.right::after {
  content: "\f00c";
}

.cart.left::before,
.cart.right::after {
  content: "\f07a";
}

.clock-o.left::before,
.clock-o.right::after {
  content: "\f017";
}

.eye.left::before,
.eye.right::after {
  content: "\f06e";
}

.angle-left.left::before,
.angle-left.right::after {
  content: "\f104";
}

.angle-right.left::before,
.angle-right.right::after {
  content: "\f105";
}

.chevron-circle-left.left::before,
.chevron-circle-left.right::after {
  content: "\f137";
}

.chevron-circle-right.left::before,
.chevron-circle-right.right::after {
  content: "\f138";
}

.caret-left.left::before,
.caret-left.right::after {
  content: "\f0d9";
}

.caret-right.left::before,
.caret-right.right::after {
  content: "\f0da";
}

.envelope.left::before,
.envelope.right::after {
  content: "\f0e0";
}

.envelope-o.left::before,
.envelope-o.right::after {
  content: "\f003";
}

.comment.left::before,
.comment.right::after {
  content: "\f075";
}

.comment-o.left::before,
.comment-o.right::after {
  content: "\f0e5";
}

.commenting.left::before,
.commenting.right::after {
  content: "\f0e5";
}

.commenting-o.left::before,
.commenting-o.right::after {
  content: "\f27b";
}

.thumbs-o-up.left::before,
.thumbs-o-up.right::after {
  content: "\f087";
}

.edit.left::before,
.edit.right::after {
  content: "\f044";
}

.edit.left::before,
.edit.right::after {
  content: "\f044";
}

.image.left::before,
.image.right::after {
  content: "\f03e";
}

.film.left::before,
.film.right::after {
  content: "\f008";
}

//li-icon

.home-left > li::before,
.home-right > li::after {
  content: "\f015";
}

.search-left > li::before,
.search-right > li::after {
  content: "\f002";
}

.tag-left > li::before,
.tag-right > li::after {
  content: "\f02b";
}

.tags-left > li::before,
.tags-right > li::after {
  content: "\f02c";
}

.sign-in-left > li::before,
.sign-in-right > li::after {
  content: "\f090";
}

.sign-out-left > li::before,
.sign-out-right > li::after {
  content: "\f08b";
}

.check-left > li::before,
.check-right > li::after {
  content: "\f00c";
}

.cart-left > li::before,
.cart-right > li::after {
  content: "\f07a";
}

.clock-o-left > li::before,
.clock-o-right > li::after {
  content: "\f017";
}

.eye-left > li::before,
.eye-right > li::after {
  content: "\f06e";
}

.angle-left-left > li::before,
.angle-left-right > li::after {
  content: "\f104";
}

.angle-right-left > li::before,
.angle-right-right > li::after {
  content: "\f105";
}

.chevron-circle-left-left > li::before,
.chevron-circle-left-right > li::after {
  content: "\f137";
}

.chevron-circle-right-left > li::before,
.chevron-circle-right-right > li::after {
  content: "\f138";
}

.caret-left-left > li::before,
.caret-left-right > li::after {
  content: "\f0d9";
}

.caret-right-left > li::before,
.caret-right-right > li::after {
  content: "\f0da";
}

.envelope-left > li::before,
.envelope-right > li::after {
  content: "\f0e0";
}

.envelope-o-left > li::before,
.envelope-o-right > li::after {
  content: "\f003";
}

.comment-left > li::before,
.comment-right > li::after {
  content: "\f075";
}

.comment-o-left > li::before,
.comment-o-right > li::after {
  content: "\f0e5";
}

.commenting-left > li::before,
.commenting-right > li::after {
  content: "\f0e5";
}

.commenting-o-left > li::before,
.commenting-o-right > li::after {
  content: "\f27b";
}

.thumbs-o-up-left > li::before,
.thumbs-o-up-right > li::after {
  content: "\f087";
}

.edit-left > li::before,
.edit-right > li::after {
  content: "\f044";
}

.edit-left > li::before,
.edit-right > li::after {
  content: "\f044";
}

.image-left > li::before,
.image-right > li::after {
  content: "\f03e";
}

.film-left > li::before,
.film-right > li::after {
  content: "\f008";
}

//responsive

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
}

@media (max-width: 319px) {}