//space

.#{$space} {
  &-0,
  &-all-0 {
    margin-left: 0;
    margin-right: 0;
  }

  &-0 > *,
  &-all-0 * {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }

  &-1,
  &-all-1 {
    margin-left: -0.5px;
    margin-right: -0.5px;
  }

  &-1 > *,
  &-all-1 * {
    position: relative;
    min-height: 1px;
    padding-left: 0.5px;
    padding-right: 0.5px;
  }

  &-2,
  &-all-2 {
    margin-left: -1px;
    margin-right: -1px;
  }

  &-2 > *,
  &-all-2 * {
    position: relative;
    min-height: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }

  &-5,
  &-all-5 {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }

  &-5 > *,
  &-all-5 * {
    position: relative;
    min-height: 1px;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }

  &-8,
  &-all-8 {
    margin-left: -4px;
    margin-right: -4px;
  }

  &-8 > *,
  &-all-8 * {
    position: relative;
    min-height: 1px;
    padding-left: 4px;
    padding-right: 4px;
  }

  &-10,
  &-all-10 {
    margin-left: -5px;
    margin-right: -5px;
  }

  &-10 > *,
  &-all-10 * {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &-15,
  &-all-15 {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }

  &-15 > *,
  &-all-15 * {
    position: relative;
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  &-20,
  &-all-20 {
    margin-left: -10px;
    margin-right: -10px;
  }

  &-20 > *,
  &-all-20 * {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &-25,
  &-all-25 {
    margin-left: -12.5px;
    margin-right: -12.5px;
  }

  &-25 > *,
  &-all-25 * {
    position: relative;
    min-height: 1px;
    padding-left: 12.5px;
    padding-right: 12.5px;
  }

  &-30,
  &-all-30 {
    margin-left: -15px;
    margin-right: -15px;
  }

  &-30 > *,
  &-all-30 * {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &-36,
  &-all-36 {
    margin-left: -18px;
    margin-right: -18px;
  }

  &-36 > *,
  &-all-36 * {
    position: relative;
    min-height: 1px;
    padding-left: 18px;
    padding-right: 18px;
  }

  &-40,
  &-all-40 {
    margin-left: -20px;
    margin-right: -20px;
  }

  &-40 > *,
  &-all-40 * {
    position: relative;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &-50,
  &-all-50 {
    margin-left: -25px;
    margin-right: -25px;
  }

  &-50 > *,
  &-all-50 * {
    position: relative;
    min-height: 1px;
    padding-left: 25px;
    padding-right: 25px;
  }

  &-60,
  &-all-60 {
    margin-left: -30px;
    margin-right: -30px;
  }

  &-60 > *,
  &-all-60 * {
    position: relative;
    min-height: 1px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

//responsive

@media (max-width: 1199px) {

  .#{$space} {
    &-0-lg,
    &-all-0-lg {
      margin-left: 0;
      margin-right: 0;
    }

    &-0-lg > *,
    &-all-0-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 0;
      padding-right: 0;
    }

    &-1-lg,
    &-all-1-lg {
      margin-left: -.5px;
      margin-right: -.5px;
    }

    &-1-lg > *,
    &-all-1-lg * {
      position: relative;
      min-height: 1px;
      padding-left: .5px;
      padding-right: .5px;
    }

    &-2-lg,
    &-all-2-lg {
      margin-left: -1px;
      margin-right: -1px;
    }

    &-2-lg > *,
    &-all-2-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 1px;
      padding-right: 1px;
    }

    &-5-lg,
    &-all-5-lg {
      margin-left: -2.5px;
      margin-right: -2.5px;
    }

    &-5-lg > *,
    &-all-5-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 2.5px;
      padding-right: 2.5px;
    }

    &-8-lg,
    &-all-8-lg {
      margin-left: -4px;
      margin-right: -4px;
    }

    &-8-lg > *,
    &-all-8-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 4px;
      padding-right: 4px;
    }

    &-10-lg,
    &-all-10-lg {
      margin-left: -5px;
      margin-right: -5px;
    }

    &-10-lg > *,
    &-all-10-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 5px;
      padding-right: 5px;
    }

    &-15-lg,
    &-all-15-lg {
      margin-left: -7.5px;
      margin-right: -7.5px;
    }

    &-15-lg > *,
    &-all-15-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 7.5px;
      padding-right: 7.5px;
    }

    &-20-lg,
    &-all-20-lg {
      margin-left: -10px;
      margin-right: -10px;
    }

    &-20-lg > *,
    &-all-20-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &-25-lg,
    &-all-25-lg {
      margin-left: -12.5px;
      margin-right: -12.5px;
    }

    &-25-lg > *,
    &-all-25-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 12.5px;
      padding-right: 12.5px;
    }

    &-30-lg,
    &-all-30-lg {
      margin-left: -15px;
      margin-right: -15px;
    }

    &-30-lg > *,
    &-all-30-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &-36-lg,
    &-all-36-lg {
      margin-left: -18px;
      margin-right: -18px;
    }

    &-36-lg > *,
    &-all-36-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 18px;
      padding-right: 18px;
    }

    &-40-lg,
    &-all-40-lg {
      margin-left: -20px;
      margin-right: -20px;
    }

    &-40-lg > *,
    &-all-40-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-50-lg,
    &-all-50-lg {
      margin-left: -25px;
      margin-right: -25px;
    }

    &-50-lg > *,
    &-all-50-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 25px;
      padding-right: 25px;
    }

    &-60-lg,
    &-all-60-lg {
      margin-left: -30px;
      margin-right: -30px;
    }

    &-60-lg > *,
    &-all-60-lg * {
      position: relative;
      min-height: 1px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

}

@media (max-width: 991px) {

  .#{$space} {
    &-0-md,
    &-all-0-md {
      margin-left: 0;
      margin-right: 0;
    }

    &-0-md > *,
    &-all-0-md * {
      position: relative;
      min-height: 1px;
      padding-left: 0;
      padding-right: 0;
    }

    &-1-md,
    &-all-1-md {
      margin-left: -.5px;
      margin-right: -.5px;
    }

    &-1-md > *,
    &-all-1-md * {
      position: relative;
      min-height: 1px;
      padding-left: .5px;
      padding-right: .5px;
    }

    &-2-md,
    &-all-2-md {
      margin-left: -1px;
      margin-right: -1px;
    }

    &-2-md > *,
    &-all-2-md * {
      position: relative;
      min-height: 1px;
      padding-left: 1px;
      padding-right: 1px;
    }

    &-5-md,
    &-all-5-md {
      margin-left: -2.5px;
      margin-right: -2.5px;
    }

    &-5-md > *,
    &-all-5-md * {
      position: relative;
      min-height: 1px;
      padding-left: 2.5px;
      padding-right: 2.5px;
    }

    &-8-md,
    &-all-8-md {
      margin-left: -4px;
      margin-right: -4px;
    }

    &-8-md > *,
    &-all-8-md * {
      position: relative;
      min-height: 1px;
      padding-left: 4px;
      padding-right: 4px;
    }

    &-10-md,
    &-all-10-md {
      margin-left: -5px;
      margin-right: -5px;
    }

    &-10-md > *,
    &-all-10-md * {
      position: relative;
      min-height: 1px;
      padding-left: 5px;
      padding-right: 5px;
    }

    &-15-md,
    &-all-15-md {
      margin-left: -7.5px;
      margin-right: -7.5px;
    }

    &-15-md > *,
    &-all-15-md * {
      position: relative;
      min-height: 1px;
      padding-left: 7.5px;
      padding-right: 7.5px;
    }

    &-20-md,
    &-all-20-md {
      margin-left: -10px;
      margin-right: -10px;
    }

    &-20-md > *,
    &-all-20-md * {
      position: relative;
      min-height: 1px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &-25-md,
    &-all-25-md {
      margin-left: -12.5px;
      margin-right: -12.5px;
    }

    &-25-md > *,
    &-all-25-md * {
      position: relative;
      min-height: 1px;
      padding-left: 12.5px;
      padding-right: 12.5px;
    }

    &-30-md,
    &-all-30-md {
      margin-left: -15px;
      margin-right: -15px;
    }

    &-30-md > *,
    &-all-30-md * {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &-36-md,
    &-all-36-md {
      margin-left: -18px;
      margin-right: -18px;
    }

    &-36-md > *,
    &-all-36-md * {
      position: relative;
      min-height: 1px;
      padding-left: 18px;
      padding-right: 18px;
    }

    &-40-md,
    &-all-40-md {
      margin-left: -20px;
      margin-right: -20px;
    }

    &-40-md > *,
    &-all-40-md * {
      position: relative;
      min-height: 1px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-50-md,
    &-all-50-md {
      margin-left: -25px;
      margin-right: -25px;
    }

    &-50-md > *,
    &-all-50-md * {
      position: relative;
      min-height: 1px;
      padding-left: 25px;
      padding-right: 25px;
    }

    &-60-md,
    &-all-60-md {
      margin-left: -30px;
      margin-right: -30px;
    }

    &-60-md > *,
    &-all-60-md * {
      position: relative;
      min-height: 1px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

}

@media (max-width: 767px) {

  .#{$space} {
    &-0-sm,
    &-all-0-sm {
      margin-left: 0;
      margin-right: 0;
    }

    &-0-sm > *,
    &-all-0-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 0;
      padding-right: 0;
    }

    &-1-sm,
    &-all-1-sm {
      margin-left: -.5px;
      margin-right: -.5px;
    }

    &-1-sm > *,
    &-all-1-sm * {
      position: relative;
      min-height: 1px;
      padding-left: .5px;
      padding-right: .5px;
    }

    &-2-sm,
    &-all-2-sm {
      margin-left: -1px;
      margin-right: -1px;
    }

    &-2-sm > *,
    &-all-2-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 1px;
      padding-right: 1px;
    }

    &-5-sm,
    &-all-5-sm {
      margin-left: -2.5px;
      margin-right: -2.5px;
    }

    &-5-sm > *,
    &-all-5-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 2.5px;
      padding-right: 2.5px;
    }

    &-8-sm,
    &-all-8-sm {
      margin-left: -4px;
      margin-right: -4px;
    }

    &-8-sm > *,
    &-all-8-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 4px;
      padding-right: 4px;
    }

    &-10-sm,
    &-all-10-sm {
      margin-left: -5px;
      margin-right: -5px;
    }

    &-10-sm > *,
    &-all-10-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 5px;
      padding-right: 5px;
    }

    &-15-sm,
    &-all-15-sm {
      margin-left: -7.5px;
      margin-right: -7.5px;
    }

    &-15-sm > *,
    &-all-15-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 7.5px;
      padding-right: 7.5px;
    }

    &-20-sm,
    &-all-20-sm {
      margin-left: -10px;
      margin-right: -10px;
    }

    &-20-sm > *,
    &-all-20-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &-25-sm,
    &-all-25-sm {
      margin-left: -12.5px;
      margin-right: -12.5px;
    }

    &-25-sm > *,
    &-all-25-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 12.5px;
      padding-right: 12.5px;
    }

    &-30-sm,
    &-all-30-sm {
      margin-left: -15px;
      margin-right: -15px;
    }

    &-30-sm > *,
    &-all-30-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &-36-sm,
    &-all-36-sm {
      margin-left: -18px;
      margin-right: -18px;
    }

    &-36-sm > *,
    &-all-36-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 18px;
      padding-right: 18px;
    }

    &-40-sm,
    &-all-40-sm {
      margin-left: -20px;
      margin-right: -20px;
    }

    &-40-sm > *,
    &-all-40-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-50-sm,
    &-all-50-sm {
      margin-left: -25px;
      margin-right: -25px;
    }

    &-50-sm > *,
    &-all-50-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 25px;
      padding-right: 25px;
    }

    &-60-sm,
    &-all-60-sm {
      margin-left: -30px;
      margin-right: -30px;
    }

    &-60-sm > *,
    &-all-60-sm * {
      position: relative;
      min-height: 1px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

}

@media (max-width: 479px) {

  .#{$space} {
    &-0-xs,
    &-all-0-xs {
      margin-left: 0;
      margin-right: 0;
    }

    &-0-xs > *,
    &-all-0-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 0;
      padding-right: 0;
    }

    &-1-xs,
    &-all-1-xs {
      margin-left: -.5px;
      margin-right: -.5px;
    }

    &-1-xs > *,
    &-all-1-xs * {
      position: relative;
      min-height: 1px;
      padding-left: .5px;
      padding-right: .5px;
    }

    &-2-xs,
    &-all-2-xs {
      margin-left: -1px;
      margin-right: -1px;
    }

    &-2-xs > *,
    &-all-2-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 1px;
      padding-right: 1px;
    }

    &-5-xs,
    &-all-5-xs {
      margin-left: -2.5px;
      margin-right: -2.5px;
    }

    &-5-xs > *,
    &-all-5-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 2.5px;
      padding-right: 2.5px;
    }

    &-8-xs,
    &-all-8-xs {
      margin-left: -4px;
      margin-right: -4px;
    }

    &-8-xs > *,
    &-all-8-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 4px;
      padding-right: 4px;
    }

    &-10-xs,
    &-all-10-xs {
      margin-left: -5px;
      margin-right: -5px;
    }

    &-10-xs > *,
    &-all-10-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 5px;
      padding-right: 5px;
    }

    &-15-xs,
    &-all-15-xs {
      margin-left: -7.5px;
      margin-right: -7.5px;
    }

    &-15-xs > *,
    &-all-15-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 7.5px;
      padding-right: 7.5px;
    }

    &-20-xs,
    &-all-20-xs {
      margin-left: -10px;
      margin-right: -10px;
    }

    &-20-xs > *,
    &-all-20-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &-25-xs,
    &-all-25-xs {
      margin-left: -12.5px;
      margin-right: -12.5px;
    }

    &-25-xs > *,
    &-all-25-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 12.5px;
      padding-right: 12.5px;
    }

    &-30-xs,
    &-all-30-xs {
      margin-left: -15px;
      margin-right: -15px;
    }

    &-30-xs > *,
    &-all-30-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &-36-xs,
    &-all-36-xs {
      margin-left: -18px;
      margin-right: -18px;
    }

    &-36-xs > *,
    &-all-36-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 18px;
      padding-right: 18px;
    }

    &-40-xs,
    &-all-40-xs {
      margin-left: -20px;
      margin-right: -20px;
    }

    &-40-xs > *,
    &-all-40-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-50-xs,
    &-all-50-xs {
      margin-left: -25px;
      margin-right: -25px;
    }

    &-50-xs > *,
    &-all-50-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 25px;
      padding-right: 25px;
    }

    &-60-xs,
    &-all-60-xs {
      margin-left: -30px;
      margin-right: -30px;
    }

    &-60-xs > *,
    &-all-60-xs * {
      position: relative;
      min-height: 1px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

}

@media (max-width: 319px) {}