//table

.border-collapse {
  border-collapse: collapse;
}

.border-separate {
  border-collapse: separate;
}

.table-auto {
  table-layout: auto;
}

.table-fixed {
  table-layout: fixed;
}

//responsive

@media (max-width: 1199px) {
  .border-collapse-lg {
    border-collapse: collapse;
  }
  .border-separate-lg {
    border-collapse: separate;
  }
  .table-auto-lg {
    table-layout: auto;
  }
  .table-fixed-lg {
    table-layout: fixed;
  }
}

@media (max-width: 991px) {
  .border-collapse-md {
    border-collapse: collapse;
  }
  .border-separate-md {
    border-collapse: separate;
  }
  .table-auto-md {
    table-layout: auto;
  }
  .table-fixed-md {
    table-layout: fixed;
  }
}

@media (max-width: 767px) {
  .border-collapse-sm {
    border-collapse: collapse;
  }
  .border-separate-sm {
    border-collapse: separate;
  }
  .table-auto-sm {
    table-layout: auto;
  }
  .table-fixed-sm {
    table-layout: fixed;
  }
}

@media (max-width: 479px) {
  .border-collapse-xs {
    border-collapse: collapse;
  }
  .border-separate-xs {
    border-collapse: separate;
  }
  .table-auto-xs {
    table-layout: auto;
  }
  .table-fixed-xs {
    table-layout: fixed;
  }
}

@media (max-width: 319px) {}